<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-app="GoPoleis" >

 	<div class="col-sm-9" ng-controller="getDrawVAsController">
		
		<h3 style="margin:20px;"><b>Select a Cultural Heritage to add/update its validity area:</b></h3>
		
		<fieldset style="margin-top:50px; margin-left:20px;"> 	
           	<label for="search" style="display: inline-block; vertical-align: bottom;" >
	        	<span class="glyphicon glyphicon-search"></span>
	        	Search: 
	        </label>
      		<input type="text" ng-model="searchBoxCH.name" class="form-control" style="width:300px; display: inline-block; vertical-align: bottom;"/>
        </fieldset>
        
		<ul style="list-item-style:none; margin-left:0px; margin-top:30px; padding-left:0px; width: {{frameWidth}}">
       		<li data-ng-repeat="ch in chs | filter:searchBoxCH" class="thumbnail col-sm-3" style=" margin:20px; padding: 10px; width:400px; cursor: pointer; background-color:#b3e0ff; border-color:#003d66" 
       			ng-model="getVAsCHs.selection" ng-value="ch.name" id="{{ch.name}}" ng-click="getDrawVA(ch.code)">	        	
        		<h5 ch.name="selection"><b>
        			<img ng-src="{{ch.path}}{{ch.filename}}" style="height: 80px; width: 80px; margin-right:10px; float:left; border: 1px solid #003d66; background-color: white;"/>
        			<textarea class="form-control" ng-model="ch.name" style="resize:none; display:inline-block; width:285px; height: 80px; background-color: white; cursor: pointer; border-color:#003d66" ng-readonly="true" >
        				{{ ch.name }}
        			</textarea></b>
        		</h5>	
       		</li>
        </ul>

	</div> 

</body>
</html>
<script>
var app = angular.module("GoPoleis", []);
app.controller('getDrawVAsController', function($scope, $http, $window) {

	$scope.frameWidth = ($window.innerWidth - 35) + "px";     
	angular.element($window).bind('resize', function(){    
		$scope.frameWidth = ($window.innerWidth - 35) + "px";
		$scope.$digest();
	});
	
	$http({
		method : "GET",
		url : "/getOperatorCHs/"+parent.window.getUsername()
	}).then(function mySucces(response) {
		$scope.chs  = response.data;
	}, function myError(response) {
		alert("Error on the query: getOperatorCHs SELECT");
	});
	
	$scope.getDrawVA = function(chCode){ 
		parent.window.setCode(chCode);
		window.open("DrawValidityArea_VAs.html", "_self"); 
	}

});
</script>