<div class="double-column" align="left">
	
	<div class="row" style="margin: 0px; heigth: 876px;">
	
		<div class="col-sm-8">
   			
		    <form name="form" role="form">
		    	
		    	<div class="row">
		    	
		    		<div class="col-sm-3">


				    	<button type="button" class="btn btn-primary btn-lg btn-block" ng-show="vm.CulturalHeritages" 
				    		ng-click="vm.CulturalHeritages_subButtons=true; vm.Game1_subButtons=false; vm.Game2_subButtons=false; vm.Game3_subButtons=false; vm.Game4_subButtons=false; vm.getCulturalHeritages();">
							Cultural Heritages'<br>Template
						</button>	
						<div class='sub_container' align="center" ng-show="vm.CulturalHeritages_subButtons">
							<button id="addCH" type="button" class="btn sub-btn btn-success" ng-click="vm.addCulturalHeritage();">Add a Cultural Heritage</button>
							<button id="delCH" type="button" class="btn sub-btn btn-danger" ng-click="vm.delCulturalHeritage();">Delete a Cultural Heritage</button>
						</div>
						
  						<button type="button" class="btn btn-primary btn-lg btn-block" ng-show="vm.Game1"
							ng-click="vm.CulturalHeritages_subButtons=false; vm.Game1_subButtons=false; vm.Game2_subButtons=false; vm.Game3_subButtons=false; vm.Game4_subButtons=false; vm.getGame1();">
							Game 1<br>- Treasures' portal -<br>Template
						</button>
						<div class='sub_container' align="center" ng-show="vm.Game1_subButtons">
 							<button id="siteInfo" type="button" class="btn sub-btn btn-info" ng-click="vm.siteInfo();">Site information</button>
							<button id="chests" type="button" class="btn sub-btn btn-info" ng-click="vm.chests();">Chests' Template</button>
						</div>

						<button type="button" class="btn btn-primary btn-lg btn-block" ng-show="vm.Game2"
							ng-click="vm.CulturalHeritages_subButtons=false; vm.Game1_subButtons=false; vm.Game2_subButtons=false; vm.Game3_subButtons=false; vm.Game4_subButtons=false; vm.getGame2();">
							Game 2<br>- Travels' portal -<br>Template
						</button>
						<div class='sub_container' align="center" ng-show="vm.Game2_subButtons">
 							<button id="area" type="button" class="btn sub-btn btn-info" ng-click="vm.drawPolygon();">Draw validity area </button>
						</div>

						<button type="button" class="btn btn-primary btn-lg btn-block" ng-show="vm.Game3"
							ng-click="vm.CulturalHeritages_subButtons=false; vm.Game1_subButtons=false; vm.Game2_subButtons=false; vm.Game3_subButtons=false; vm.Game4_subButtons=false; vm.getGame3();">
							Game 3<br>- Puzzles' portal -<br>Template
						</button>
						<div class='sub_container' align="center" ng-show="vm.Game3_subButtons">
 							<button id="paths" type="button" class="btn sub-btn btn-info" ng-click="vm.paths();">Paths' template</button>
						</div>
						
						<button type="button" class="btn btn-primary btn-lg btn-block" ng-show="vm.Game4"
							ng-click="vm.CulturalHeritages_subButtons=false; vm.Game1_subButtons=false; vm.Game2_subButtons=false; vm.Game3_subButtons=false; vm.Game4_subButtons=false; vm.getGame4();">
							Game 4<br>- Knowledge's portal -<br>Template
						</button>
						<div class='sub_container' align="center" ng-show="vm.Game4_subButtons">
 							<button id="reviewsList" type="button" class="btn sub-btn btn-info" ng-click="vm.reviewsList();">Reviews' list</button>
							<button id="infopoints" type="button" class="btn sub-btn btn-info" ng-click="vm.infopoints();">Infopoints' Template</button>
							<button id="enciclopedicPage" type="button" class="btn sub-btn btn-info" ng-click="vm.enciclopedicPage();">Enciclopedic page</button>
						</div>
						
			        </div>
			        <div class="col-sm-9">
			        
				        <iframe id="mainFrame"  src="src/html/Operator/WhitePage.html" style="height: 876px; width: 1584px; border: none;">
				        </iframe>

			        </div>
			        
				</div>
		
		    </form>
		    
	    </div>
	    
    </div>
    
</div>
