<!DOCTYPE html>  
<!-- addCulturalHeritage.php !-->  
<html>  
     <head>  
          <title>GoPoleis</title>  
          <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
     </head>  
     <body>  
               <h1 align="left">Add Cultural Heritage.</h1>  
               <div align="left" ng-app="GoPoleis" ng-controller="addCHController">  

					<p>Name: 
                    	<input type="text" ng-model="chName" class="form-control">
                    </p>
                    
                    <form action="/action_page.php">Image:
                       	<input type="file" name="pic" accept="image/*">
                       	<!-- <input type="submit"> !-->
                    </form>
                    
		    <p>Category:
			<input type="checkbox" ng-model="g1" ng-true-value="1" ng-false-value="0" ng-checked="checkbox1 == 1"> 1
                    	<input type="checkbox" ng-model="g2" ng-true-value="1" ng-false-value="0" ng-checked="checkbox2 == 1"> 2
                    	<input type="checkbox" ng-model="g3" ng-true-value="1" ng-false-value="0" ng-checked="checkbox3 == 1"> 3
                    	<input type="checkbox" ng-model="g4" ng-true-value="1" ng-false-value="0" ng-checked="checkbox4 == 1"> 4
		    </p>
                    
		    <p>Coordinates:
                    	Lat <input type="text" ng-model="lat" class="form-control">
                        Lon <input type="text" ng-model="lon" class="form-control">
                    </p>
                    
		    <p>Historical period:
                        <input type="text" ng-model="historicalperiod" class="form-control">
                    </p>
                    
		    <p>Typology:
                        <input type="text" ng-model="typology" class="form-control">
                    </p>
                    
                    <table>
                      <tr>
                   	<input type="submit" name="btnMG1" class="btn btn-info" ng-click="manageGame1()" value="Manage Game 1" ng-show="g1"/>
                      </tr>
                      <tr>
                      	<input type="submit" name="btnMG2" class="btn btn-info" ng-click="manageGame2()" value="Manage Game 2" ng-show="g2"/>
                      </tr>
                      <tr>
                      	<input type="submit" name="btnMG3" class="btn btn-info" ng-click="manageGame3()" value="Manage Game 3" ng-show="g3"/>
                      </tr>
                      <tr>
                      	<input type="submit" name="btnMG4" class="btn btn-info" ng-click="manageGame4()" value="Manage Game 4" ng-show="g4"/>
                      </tr>
                    </table> 
                    <br>
                    <input type="submit" name="btnAdd" class="btn btn-info" ng-click="addCulturalHeritage()" value="ADD"/>  
               </div>        
     </body>  
</html>  


<script>  //modifica qui!!!
var app = angular.module("GoPoleis",[]);  
app.controller("addCHController", function($scope, $http){  
    $scope.g1 = 0;
    $scope.g2 = 0;
    $scope.g3 = 0;
    $scope.g4 = 0;
    $scope.addCulturalHeritage = function(){  
	$http.post(  
	    "insertCulturalHeritage.php",  
	    {'name':$scope.chName, 
		'g1':$scope.g1,
		'g2':$scope.g2,
		'g3':$scope.g3,
		'g4':$scope.g4,
		'latitude':$scope.lat,
		'longitude':$scope.lon,
		'typology':$scope.typology}  
	).success(function(data){  
	    alert(data);    
	});  
    }
});  
</script>  
