<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="GoPoleis" >

	<div class="col-sm-9" ng-controller="addCardController">
				        
		<h1 style="margin:20px;"><u>Create a Card</u>:</h1><br><br>        
        
     	<fieldset style="margin-top:50px; margin-left:20px;"> 	
	     	<label for="name" style="display: inline-block; vertical-align: bottom;">
	     		Name: 
			</label>
			<input type="text" class="form-control" ng-model="addCard.name" style="width:450px; display: inline-block;">
		</fieldset>
		
		<fieldset style="margin-top:30px; margin-left:20px;"> 	
	     	<label for="image" style="display: inline-block;">
	     		Image:  
			</label>
			<img ng-src="{{addCard.path}}" ng-model="addCard.path" style="width: 200px; heigth:200px; border: 1px solid black; "/>
		</fieldset>
			
		<fieldset style="margin-top:30px; margin-left:20px;"> 	
	     	<label for="description" style="display: inline-block; vertical-align: bottom;">
	     		Short description: 
			</label>
			<input type="text" class="form-control" ng-model="addCard.description" style="width:450px; display: inline-block;">
		</fieldset>	
			
		<fieldset style="margin-top:30px; margin-left:20px;"> 	
	     	<label for="cardValue" style="display: inline-block; vertical-align: bottom;">
	     		Card's value in coins: 
			</label>
			<input type="text" class="form-control" ng-model="addCard.cardValue" style="width:100px; display: inline-block;">
		</fieldset>	
			
		<fieldset style="margin-top:30px; margin-left:20px;"> 	
	     	<label for="destructionValue" style="display: inline-block; vertical-align: bottom;">
	     		Coins obtained in case of destruction of a dual card: 
			</label>
			<input type="text" class="form-control" ng-model="addCard.destructionValue" style="width:100px; display: inline-block;">
		</fieldset>	
		
		<fieldset style="margin-top:30px; margin-left:20px;"> 	
	     	<label for="rarity" style="display: inline-block;">
	     		Rarity:  
			</label>
			<select ng-model="addCard.rarity" class="form-control" style="width:250px; display: inline-block;">
				<option ng-repeat="x in rarity">{{x}}</option>
			</select>	
		</fieldset>	
			
		<fieldset style="margin-top:60px; margin-left:20px;"> 			
			<input type="submit" name="btnAddCard" class="btn btn-info" ng-click="executeAddCard()" value="Create"/>  
			<a href="Cards_Template.html" target="_self">Cancel</a>
		</fieldset>	

	</div>
	
</body>
</html>
<script>
	var app = angular.module("GoPoleis", []);
	app.controller('addCardController', function($scope, $http, $window) {

		
		$scope.addCard={};
		$scope.rarity = ["Common", "Uncommon", "Epic"];			//Fai la query per prendere i valori
		
		$scope.executeAddCard = function(){	
			$http({
				method: 'GET',
				url: '/addCard/000/'+$scope.addCard.name+'/..%2F..%2Fimages%2Fcards%2Fnoimage.png/'+$scope.addCard.description+'/'+$scope.addCard.cardValue+'/'+$scope.addCard.destructionValue+'/'+$scope.addCard.rarity //SISTEMARE!!
			}).then(function successCallback(response) {	
				window.open("Cards_Template.html", "_self");   
			}, function errorCallback(response) {
				// called asynchronously if an error occurs
				// or server returns response with an error status.
			});
			
		}
		
			
	});
</script>