<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCrHxpT62yPIguYjilGuX_pGkOqQYvS-NQ&sensor=false"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js" type="text/javascript"></script>
	
	<link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script>document.write('<base href="' + document.location + '" />');</script>
    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.22/angular.js" data-semver="1.2.22"></script>
    <script data-require="angular-route@*" data-semver="1.2.14" src="http://code.angularjs.org/1.2.14/angular-route.js"></script>
    <script data-require="angular-resource@*" data-semver="1.2.14" src="http://code.angularjs.org/1.2.14/angular-resource.js"></script>
    <script data-require="angular-bootstrap@0.11.0" data-semver="0.11.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	   
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.debug.js"></script>
    <script type="text/javascript" src="ng-map/ng-map.min.js"></script> 
     
</head>

<body ng-app="GoPoleis" >

			<script type="text/ng-template" id="addPath.html">
        		<div class="modal-content" style="margin-left: -300px; height: 300px; width: 1200px;">		
					<div class="modal-body">
						
						<h1 style="margin:20px;"><u>Create a Path</u>:</h1><br><br>  
		
						<form name="form" role="form">     
       
       						<div class="form-group" ng-class="{ 'has-error': form.title.$dirty && form.title.$error.required }" >
		     					<fieldset style="margin-left:20px; margin-right:20px;"> 	
			     					<label for="title" style="display: inline-block; vertical-align: bottom;">
			     						Title: 
									</label>
									<input type="text" class="form-control" ng-model="title" style="width:1080px; display: inline-block;" maxlength="150" required>
								</fieldset>
							</div>

							<div class="form-actions" style="margin-top:50px; margin-right:20px;">
								<button class="btn btn-secondary pull-right" ng-click="cancel()" style="width:100px; margin-left:10px;">Cancel</button>
								<button type="submit" class="btn btn-primary pull-right" ng-disabled="form.$invalid" ng-click="executeAddPath(title)" style="width:100px;">Create</button>
							</div>		

					 	</form>

					</div>
				</div> 
			</script>

	 <div class="col-sm-10" ng-controller="PathsController">
		<div>
			<h1 style="margin:20px;" ng-module="chName"><u>Paths for</u>: [ {{chName}} ]</h1>

 		    <div>
	        	<iframe id="mapFrame"  src="Paths_PathsListMap.html" style="height:360px; width:870px; border:none;"></iframe>
	        </div>
      
 			<fieldset style="margin-top:10px; margin-left:20px;"> 	 	
				<label for="search" style="display: inline-block; vertical-align: bottom;" >
		        	<span class="glyphicon glyphicon-search"></span>
		        	Search: 
		        </label>
	      		<input type="text" ng-model="searchPaths.info" class="form-control" style="width:300px; display: inline-block; vertical-align: bottom;"/>
	      		<label for="string1" style="display: inline-block; vertical-align: bottom; margin-left:20px;">
		     		Right-click on the map to add a new path: 
				</label>
			</fieldset>

			<fieldset style="margin-top:30px; margin-left:20px;"> 	
				<ul style="list-item-style:circle; margin-left:20px; padding-left:0px;">
		       		<li ng-repeat="path in paths | filter:searchPaths" ng-model="getCHPaths.selection">	        	
		        		<h4 path.title="selection" style="display: inline-block;  margin-left: 10px;">     	
		        			<span class="glyphicon glyphicon-off" style="color:#00cc00;" ng-show={{path.enabled}} ng-click="disablePath(path.code)"></span>	
		        			<span class="glyphicon glyphicon-off" style="color:#ff0000;" ng-hide={{path.enabled}} ng-click="enablePath(path.code)"></span>		
		        			<span class="glyphicon glyphicon-map-marker" ng-click="localizePath(path.code)"></span> 
		        			<span class="glyphicon glyphicon-pencil" ng-click="updPath(path.code)"></span> 
		        			<span class="glyphicon glyphicon-trash" ng-click="delPath(path.code)"></span>  
		        			<h4 style="display: inline-block;  margin-left: 30px; color:{{path.color}}"><b> [ #Completions {{ path.completions }} ] {{ path.title }}</b></h4>
		        		</h4>	
		       		</li>
		        </ul>
			</fieldset>

        </div>
        
	</div> 

</body>
</html>
<script>
var pCode;

var app = angular.module('GoPoleis', ['ui.bootstrap','ngMap']);
app.controller('PathsController', function($scope, $http, $window, $timeout, $modal, $rootScope) {

	
	var colors=['red','#2eb82e','#e6e600','#0099ff','#ff9900','#000000','#aa80ff','#808080','#d9d9d9'];	
	var chCode = parent.window.getCode();

	$http({
		method : "GET",
		url : "/getCHPaths/"+chCode
	}).then(function mySucces(response) {
		var paths  = response.data;				
	    $scope.paths = [];
		if (paths.length > 0){
			$scope.chName = paths[0].heritage;
			$timeout(function() {
				$scope.paths  = paths;	
				for(var i=0; i < paths.length; i++){
					$scope.paths[i].color=colors[i%colors.length];
				}
		    }, 10);
		}
		else{
			$http({
				method : "GET",
				url : "/getCH/"+chCode
			}).then(function mySucces(response) {	
				$scope.chName = response.data[0].name;	
			}, function myError(response) {
				alert("Error on the query: getCH SELECT");
			});	
		}
	}, function myError(response) {
		alert("Error on the query: getCHPaths SELECT");
	});

	$window.getCode = function (){
		return chCode;
	};
	
	$window.addPath = function() {   			
		$scope.addPathModal();
   	};	

   	$scope.addPathModal = function () {
   		var modalInstance = $modal.open({
    		templateUrl : 'addPath.html',
    		controller : 'addPathCtrl'
    	});
    	modalInstance.result.then(function() {
    	}, function() {
    	});
	};

	$window.getPathCode = function (){
		return pCode;
	};

	$scope.localizePath = function (pathCode) {	
   		pCode = pathCode;
   		
   		for(var i=0; i < $scope.paths.length; i++){		   	
   			if($scope.paths[i].code == pCode){
   				$scope.paths[i].color='#00cc00';
   			}
   			else{
   				$scope.paths[i].color='black';			//o red?
   			}
		}
		
		document.getElementById('mapFrame').src = "Paths_PathsListMap.html";
	};

	$scope.updPath = function(pathCode) { 
   		parent.window.setPathCode(pathCode);
		window.open("Paths_Stages.html", "_self"); 
   	};

   	$scope.disablePath = function(pathCode) { 
   		$http({
			method : "GET",
			url : "/enablePath/false/"+pathCode
		}).then(function mySucces(response) {
			window.open("Paths_PathsList.html", "_self"); 
		}, function myError(response) {
			alert("Error on the query: enablePath UPDATE");
		});		
   	}

   	$scope.enablePath = function(pathCode) { 
   		$http({
			method : "GET",
			url : "/enablePath/true/"+pathCode
		}).then(function mySucces(response) {
			window.open("Paths_PathsList.html", "_self"); 
		}, function myError(response) {
			alert("Error on the query: enablePath UPDATE");
		});	
   	}

   	$scope.delPath = function (pathCode) {
       	if ($window.confirm("Are you sure you want to delete this Path?")) {
			$http({
				method : "GET",
				url : "/delPath/"+pathCode
			}).then(function mySucces(response) {	 
				alert("Successful delete");
				window.open("Paths_PathsList.html", "_self"); 
			}, function myError(response) {
				alert("Error on the query: delPath DELETE");
			});
		} 
	};	

});

//Pop-up per l'inserimento di un nuovo Path
app.controller("addPathCtrl", function($scope, $log, $modalInstance, $rootScope, $http) {

	$scope.executeAddPath = function(title){	
		var chCode=parent.window.getCode();
			
		//Query: INSERT Path on DB
		$http({
			method: 'GET',
			url: '/addPath/0/'+title+'/false/'+chCode		
		}).then(function successCallback(response) {	
			window.open("Paths_PathsList.html", "_self");   
		}, function errorCallback(response) {
			alert("Error on the query: addPath INSERT");
		});
	};
	
	$scope.cancel = function() { 
		$modalInstance.dismiss('cancel');
	};
});
	
</script>