<div class="double-column" align="left">
	
	<div class="row" style="margin: 0px; heigth: 876px;">
	
		<div class="col-sm-8">
   			
		    <form name="form" role="form">
		    	
		    	<div class="row">
		    	
		    		<div class="col-sm-3">


				    	<button type="button" class="btn btn-primary btn-lg btn-block" style="height: 80px" ng-show="vm.Medals" 
				    		ng-click="vm.Medals_subButtons=true; vm.Cards_subButtons=false; vm.Missions_subButtons=false; vm.getMedals();">
							Medals
						</button>	
						<div class='sub_container' align="center" ng-show="vm.Medals_subButtons">
							<button id="addMedal" type="button" class="btn sub-btn btn-success" ng-click="vm.addMedal();">Add a Medal</button>
							<button id="delMedal" type="button" class="btn sub-btn btn-danger" ng-click="vm.delMedal();">Delete a Medal</button>
						</div>
						
						
						<button type="button" class="btn btn-primary btn-lg btn-block" style="height: 80px" ng-show="vm.Cards"
							ng-click="vm.Medals_subButtons=false; vm.Cards_subButtons=true; vm.Missions_subButtons=false; vm.getCards();">
							Cards
						</button>
						<div class='sub_container' align="center" ng-show="vm.Cards_subButtons">
							<button id="addCard" type="button" class="btn sub-btn btn-success" ng-click="vm.addCard();">Add a Card</button>
							<button id="delCard" type="button" class="btn sub-btn btn-danger" ng-click="vm.delCard();">Delete a Card</button>
						</div>
						
						
						<button type="button" class="btn btn-primary btn-lg btn-block" style="height: 80px" ng-show="vm.Missions"
							ng-click="vm.Medals_subButtons=false; vm.Cards_subButtons=false; vm.Missions_subButtons=true; vm.getMissions();">
							Missions
						</button>
						<div class='sub_container' align="center" ng-show="vm.Missions_subButtons">
							<button id="addMission" type="button" class="btn sub-btn btn-success" ng-click="vm.addMission();">Add a Mission</button>
						</div>


						<button type="button" class="btn btn-primary btn-lg btn-block" style="height: 80px" ng-show="vm.Leaderboard"
							ng-click="vm.Medals_subButtons=false; vm.Cards_subButtons=false; vm.Missions_subButtons=false; vm.getLeaderboard();">
							Leaderboard
						</button>
						
						
						<button type="button" class="btn btn-primary btn-lg btn-block" style="height: 80px" ng-show="vm.GamesStatistics"
							ng-click="vm.Medals_subButtons=false; vm.Cards_subButtons=false; vm.Missions_subButtons=false; vm.getGamesStatistics();">
							Game's Statistics
						</button>
						
						
						<button type="button" class="btn btn-primary btn-lg btn-block" style="height: 80px" ng-show="vm.PlayersStatistics"
							ng-click="vm.Medals_subButtons=false; vm.Cards_subButtons=false; vm.Missions_subButtons=false; vm.getPlayersStatistics();">
							Players' Statistics
						</button>	
						
			        </div>  
			        <div class="col-sm-9">
			        
				        <iframe id="mainFrame"  src="src/html/Admin/WhitePage.html" style="height: 876px; width: 1584px; border: none;">
				        </iframe>

			        </div>
			        
				</div>
		
		    </form>
		    
	    </div>
	    
    </div>
    
</div> 
