<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
</head>
<body ng-app="GoPoleis" >

	<div class="col-sm-10" ng-controller="getGameStatisticsController">
			
		<h1 style="margin:20px;"><u>Statistics</u></h1>
		
		<form name="form" role="form" enctype="multipart/form-data" method="post"  style="margin-top:50px; margin-left:20px;">															
			<fieldset> 		
 				<label for="game" style="margin-right:30px;">
		     		Select the game for which you want to view its statistics:  
				</label>
				<input type="radio" ng-model="selectGame" value="Cultural Heritages" style="margin-right:5px;" ng-change="updateGameStatistics()"><b>Cultural Heritages</b>
				<input type="radio" ng-model="selectGame" value="Cards' Packets" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Cards' Packets</b>
				<input type="radio" ng-model="selectGame" value="Paths" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Paths</b>	
				<input type="radio" ng-model="selectGame" value="Medals" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Medals</b>
				<input type="radio" ng-model="selectGame" value="Missions" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Missions</b>			
			</fieldset>
		</form>

		<div id="container" style="min-width: 310px; height: 600px; margin-left:20px; margin-top:50px; "></div>
		
	</div>

</body>
</html>
<script>
var app = angular.module("GoPoleis", []);
app.controller('getGameStatisticsController', function($scope, $http, $window, $timeout) {
	
	$scope.selectGame = null;
	
	$scope.updateGameStatistics = function(){
		
		if($scope.selectGame == 'Cultural Heritages'){
			$http({
				method : "GET",
				url : "/getAllCHsCountRegions"
			}).then(function mySucces(response) {
				var regionsData = response.data;
				$http({
					method : "GET",
					url : "/getAllCHsCountProvinces"
				}).then(function mySucces(response) {
					var provincesData = response.data;
					var title = $scope.selectGame;
					var subtitle = "Click on the histogram for a more detailed view, if available.";
					var yAxis = 'Total Cultural Heritages';			
					var series = [{
					     name: 'Regions',
					     colorByPoint: false,
					     data: regionsData
					 }];
					var drilldown=[];

					if(provincesData.length > 0){
						var actualRegion = provincesData[0].drilldown;
						var data = [];
						var provinceData = {};
						
						for(var i=0; i < provincesData.length; i++){	
							if(actualRegion == provincesData[i].drilldown){
								provinceData = {name:provincesData[i].name, y:provincesData[i].y};
								data.push(provinceData);
							}
							else{
								var serie = {name: actualRegion, id: actualRegion, data: data};
								drilldown.push(serie);
								actualRegion = provincesData[i].drilldown;
								data = [];
								provinceData = {};
								i--;
							}
						}
						var serie = {name: actualRegion, id: actualRegion, data: data};
						drilldown.push(serie);
					}
					else{
						alert("No data available!");
					}					
					createChart(title, subtitle, yAxis, series, drilldown);
				}, function myError(response) {
					alert("Error on the query: getAllCHsCountProvinces SELECT");
				});
				
			}, function myError(response) {
				alert("Error on the query: getAllCHsCountRegions SELECT");
			});
		}
		
		if($scope.selectGame == 'Cards\' Packets'){
			localizedChart ("getAllCardsPacketsCountRegions", "getAllCardsPacketsCountProvinces", "getAllCardsPacketsCountCHs", "Total Cards\' Packets");
		}
		
		if($scope.selectGame == 'Paths'){
			localizedChart ("getAllPathsCountRegions", "getAllPathsCountProvinces", "getAllPathsCountCHs", "Total Paths");
		}
		
		if($scope.selectGame == 'Medals'){	
			$http({
				method : "GET",
				url : "/getAllMedalsCount"
			}).then(function mySucces(response) {
				var title = $scope.selectGame;
				var subtitle = "Click on the histogram for a more detailed view, if available.";
				var yAxis = 'Total medals';			
				var series = [{
				     name: 'Categories',
				     colorByPoint: false,
				     data: response.data
				 }];
				var drilldown = [];
				createChart(title, subtitle, yAxis, series, drilldown);
			}, function myError(response) {
				alert("Error on the query: getAllMedalsCount SELECT");
			});
		}
		
		
		
		
		
		
		
		
		
		if($scope.selectGame == 'Missions'){													//Missions------------------------------------------------------
			alert("Missions non ancora implementato!!");

			/*series: [{
			     name: 'Regions',
			     colorByPoint: true,
			     data: [{
			         name: 'Chiara',
			         y: 56.33,
			         drilldown: 'Chiara'
			     }]
			 }],
			 drilldown: {
			     series: [{
			         name: 'Chiara',
			         id: 'Chiara',
			         data: [{name:'v11.0',y:24.13},{name:'v8.0',y:17.2, drilldown:'Seri'}],
			     },{
			         name: 'Seri',
			         id: 'Seri',
			         data: [{name:'chiara',y:21},{name:'seri',y:1}],
			     }]
			 }*/

		}
		
		
		
		
		
		
		
		
		
		
		
		
		function localizedChart (regions, provinces, chs, asseY){
			$http({
				method : "GET",
				url : "/"+regions
			}).then(function mySucces(response) {
				var regionsData = response.data;
				$http({
					method : "GET",
					url : "/"+provinces
				}).then(function mySucces(response) {
					var provincesData = response.data;
					$http({
						method : "GET",
						url : "/"+chs
					}).then(function mySucces(response) {
						var chsData = response.data;
						var title = $scope.selectGame;
						var subtitle = "Click on the histogram for a more detailed view, if available.";
						var yAxis = asseY;			
						var series = [{
						     name: 'Regions',
						     colorByPoint: false,
						     data: regionsData
						 }];
						var drilldown=[];
						var serie = {};
				
						if(provincesData.length > 0){
							var actualRegion = provincesData[0].drilldown;
							var data = [];
							var provinceData = {};
				
							for(var i=0; i < provincesData.length; i++){	
								if(actualRegion == provincesData[i].drilldown){
									provinceData = {name:provincesData[i].name, y:provincesData[i].y, drilldown:provincesData[i].name};
									data.push(provinceData);
								}
								else{
									serie = {name: "Provinces", id: actualRegion, data: data};
									drilldown.push(serie);
									actualRegion = provincesData[i].drilldown;
									data = [];
									provinceData = {};
									i--;
								}
							}
							var serie = {name: actualRegion, id: actualRegion, data: data};
							drilldown.push(serie);	
		
							if(chsData.length > 0){
								var actualProvince = chsData[0].drilldown;
								var data = [];
								var chData = {};
								
								for(var j=0; j < chsData.length; j++){	
									if(actualProvince == chsData[j].drilldown){								
										chData = {name:chsData[j].name, y:chsData[j].y};
										data.push(chData);										
									}
									else{
										serie = {name: actualProvince, id: actualProvince, data: data};
										drilldown.push(serie);
										actualProvince = chsData[j].drilldown;
										data = [];
										chData = {};
										j--;
									}
								}
								serie = {name: actualProvince, id: actualProvince, data: data};
								drilldown.push(serie);
							}
							else{
								alert("No Cultural Heritages data available!");
							}
						}
						else{
							alert("No Provinces data available!");
						}					
						createChart(title, subtitle, yAxis, series, drilldown);
					}, function myError(response) {
						alert("Error on the query: "+chs+" SELECT");
					});
				}, function myError(response) {
					alert("Error on the query: "+provinces+" SELECT");
				});
			}, function myError(response) {
				alert("Error on the query: "+regions+" SELECT");
			});
		}

	}
	
	function createChart(title, subtitle, yAxis, series, drilldown){
		//Create the chart
		var chart =	Highcharts.chart('container', {
			 chart: {
			     type: 'column'
			 },
			 title: {
			     text:  title
			 },
			 subtitle: {
			     text: subtitle
			 },
			 xAxis: {
			     type: 'category'
			 },
			 yAxis: {
			     title: {
			         text: yAxis
			     }
			 },
			 legend: {
			     enabled: false
			 },
			 credits: {
			     enabled: false
			 },
			 plotOptions: {
			     series: {
			         borderWidth: 0,
			         dataLabels: {
			             enabled: true,
			             format: '{point.y}'
			         },
			     }
			 },
			
			 tooltip: {
			     headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			     pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y} </b><br/>'
			 },
			
			 series: series,
			 drilldown: {
			     series: drilldown
			 }
		});
	}

});
</script>