<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script> <!-- Per ui.bootstrap -->
</head>
  
<body ng-app="GoPoleis" >

 	<div class="col-sm-6" ng-controller="updMedalsController">

		<h1 style="margin:20px;"><u>Update Medal</u>: [{{updMedal.name}}]</h1>

		<form name="form" role="form" id="uploadMedalForm" enctype="multipart/form-data" action="/upload" method="post">

			<div class="form-group" ng-class="{ 'has-error': 	form.name.$dirty && form.name.$error.required &&
																form.image.$dirty && form.image.$error.required	&&
																form.category.$dirty && form.category.$error.required && 
																form.region.$dirty && form.region.$error.required && 
																form.historicalPeriod.$dirty && form.historicalPeriod.$error.required && 
																form.structureType.$dirty && form.structureType.$error.required &&
																form.numOfPlaces.$dirty && form.numOfPlaces.$error.required}" >

				<fieldset style="margin-top:50px; margin-left:20px; width:750px;"> 	
			     	<label for="name" style="display: inline-block; vertical-align:top; width:90px;">
			     		Name: 
					</label>
					<textarea class="form-control" ng-model="updMedal.name" style="resize:none; display:inline-block; width:650px; height: 60px;" maxlength="100" required></textarea>
				</fieldset>

				<fieldset style="margin-top:30px; margin-left:20px; width:750px;"> 	
			     	<label for="image" style="display:inline-block; vertical-align:center; width:90px;">
			     		Image:  
					</label>
					<img ng-src="{{ thumbnail.dataUrl }}" style="width:200px; heigth:200px; border: 1px solid black;"/>
					<input type="file" name={{imgCode}} onchange="angular.element(this).scope().imgChanged(this.files)" ngf-pattern="'image/*'" accept="image/*" 
							style="display:inline-block; margin-left:50px;" ngf-max-size="2MB" />
				</fieldset>

				<fieldset style="margin-top:30px; margin-left:20px; width:750px;"> 	
					<label for="category" style="display: inline-block; vertical-align:center; width:90px;">
			     		Category:  
					</label>
 					<select class="form-control" ng-model="updMedal.category" ng-change="showCategory()" name="category" style="width:370px; display: inline-block;" required>
						<option ng-repeat="x in categories">{{x.name}}</option>
					</select>
				</fieldset>

				<fieldset style="margin-top:30px; margin-left:20px; width:750px;"> 	
					<label for="region" style="display: inline-block; vertical-align:center; width:90px;" ng-show="regionSelected">
			     		Region:  
					</label>
					<select class="form-control" ng-model="updMedal.region" name="region" style="width:370px; display: inline-block;" ng-show="regionSelected" ng-required="regionSelected">
						<option ng-repeat="y in regions">{{y.name}}</option>
					</select>

		 			<label for="historicalPeriod" style="display: inline-block; vertical-align:center; width:140px;" ng-show="hpSelected">
			     		Historical period:  
					</label>
					<input name="historicalPeriod" id="historicalPeriod" type="text" placeholder="" ng-model="updMedal.historicalPeriod" style="width:600px; display: inline-block;" maxlength="60"
								typeahead="option as option.name for option in historicalPeriods | filter:$viewValue | limitTo:8" class="form-control" ng-show="hpSelected" ng-required="hpSelected">	
		 
			     	<label for="structureType" style="display: inline-block; vertical-align:center; width:140px;" ng-show="stSelected">
			     		Type of structure:  
					</label>
					<input name="typeOfStructure" id="typeOfStructure" type="text" placeholder="" ng-model="updMedal.typeOfStructure" style="width:600px; display: inline-block;" maxlength="60"
								typeahead="option as option.name for option in typeOfStructures | filter:$viewValue | limitTo:8" class="form-control" ng-show="stSelected" ng-required="stSelected">
				</fieldset>
			
				<fieldset style="margin-top:30px; margin-left:20px; width:750px;"> 	
			     	<label for="numOfPlaces" style="display: inline-block; vertical-align:center;  width:350px;">
			     		Number of places to visit to obtain this medal: 
					</label>
					<input type="number" min="1"class="form-control" ng-model="updMedal.numOfPlaces" style="width:110px; display: inline-block;" required>
				</fieldset>
			
			</div>	

			<div class="form-actions" style="margin-top:75px; margin-bottom:30px; margin-left:20px;" align="left">
	            <button type="submit" name="btnUpdMedal" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-info" ng-click="executeUpdMedal()">Update</button>
	            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
	            <a href="Medals.html" target="_self">Cancel</a>
	        </div>

		</form>
        
	</div>

</body>
</html>
<script>

	var app = angular.module("GoPoleis", ["ui.bootstrap"]);
	app.controller('updMedalsController', function($scope, $http, $window, $timeout) {
		
		$scope.frameWidth = ($window.innerWidth - 35) + "px";     
		angular.element($window).bind('resize', function(){    
			$scope.frameWidth = ($window.innerWidth - 35) + "px";
			$scope.$digest();
		});
			
		var medalCode = parent.window.getMedalCode();

		$scope.updMedal={};
		$scope.updMedal.historicalPeriod = undefined;
		$scope.updMedal.typeOfStructure = undefined;
		var oldCategory=null;
		var oldMedalTypeCode=null;
		
		var newImg = false;
		var oldImgCode;
		var type;
		var addCHs=0;
		
		$http({
			method: 'GET',
			url: '/getAllCategories/'
		}).then(function successCallback(response) {	
			$scope.categories = response.data;		
		}, function errorCallback(response) {
			alert("Error on the query: getAllCategories SELECT");
		});
		
		$http({
			method: 'GET',
			url: '/getAllRegions'
		}).then(function successCallback(response) {	
			$scope.regions = response.data;  
		}, function errorCallback(response) {
			alert("Error on the query: getAllRegions SELECT");
		});	
		
		$http({
			method: 'GET',
			url: '/getAllHistoricalPeriods'
		}).then(function successCallback(response) {	
			$scope.historicalPeriods = response.data;  
		}, function errorCallback(response) {
			alert("Error on the query: getAllHistoricalPeriods SELECT");
		});	
		
		$http({
			method: 'GET',
			url: '/getAllStructureTypes'
		}).then(function successCallback(response) {	
			$scope.typeOfStructures = response.data;  
		}, function errorCallback(response) {
			alert("Error on the query: getAllStructureTypes SELECT");
		});			
	
		$http({
			method : "GET",
			url : "/getMedal/"+medalCode
		}).then(function mySucces(response) {
			var results  = response.data;	
			if (results.length > 0){
				$scope.updMedal.name=results[0].name;
				oldImgCode=results[0].image;
				$scope.thumbnail = { dataUrl: results[0].path+results[0].filename };
				$scope.updMedal.category = results[0].cName;
				$scope.updMedal.numOfPlaces=response.data[0].num;
				
				if($scope.updMedal.category=='Region'){
					$scope.regionSelected=true;
		    		$scope.hpSelected=false;
		    		$scope.stSelected=false;
		    		oldCategory='Region';
					$http({
						method : "GET",
						url : "/getRegionMedalByMedalCode/"+medalCode
					}).then(function mySucces(response) {
						oldMedalTypeCode=response.data[0].regionCode;
						$scope.updMedal.region=response.data[0].region;
					}, function myError(response) {
						alert("Error on the query: getRegionMedalByMedalCode SELECT");
					});	
				}

				if($scope.updMedal.category=='Historical Period'){
					$scope.regionSelected=false;
		    		$scope.hpSelected=true;
		    		$scope.stSelected=false;
		    		oldCategory='Historical Period';
					$http({
						method : "GET",
						url : "/getHPMedalByMedalCode/"+medalCode
					}).then(function mySucces(response) {
						oldMedalTypeCode=response.data[0].hpCode;
						$scope.updMedal.historicalPeriod=response.data[0].hp;
					}, function myError(response) {
						alert("Error on the query: getHPMedalByMedalCode SELECT");
					});	
				}
				
				if($scope.updMedal.category=='Type of Structure'){
					$scope.regionSelected=false;
		    		$scope.hpSelected=false;
		    		$scope.stSelected=true;
		    		oldCategory='Type of Structure';
					$http({
						method : "GET",
						url : "/getToSMedalByMedalCode/"+medalCode
					}).then(function mySucces(response) {
						oldMedalTypeCode=response.data[0].stCode;
						$scope.updMedal.typeOfStructure=response.data[0].structuretype;
					}, function myError(response) {
						alert("Error on the query: getToSMedalByMedalCode SELECT");
					});	
				}

			}
		}, function myError(response) {
			alert("Error on the query: getMedal SELECT");
		});					
		
	    $scope.fileReaderSupported = window.FileReader != null;
	    $scope.imgChanged = function(files){
	        if (files != null) {
	            var file = files[0];
		        if ($scope.fileReaderSupported && file.type.indexOf('image') > -1) {
		            $timeout(function() {
		                var fileReader = new FileReader();
		                fileReader.readAsDataURL(file);
		                fileReader.onload = function(e) {
		                    $timeout(function(){
		 							$scope.thumbnail.dataUrl = e.target.result;		
		                    });
		                }
		            });
		        }	        
	    	}
	        type = file.name.split('.')[file.name.split('.').length -1];
	        newImg=true;
	    };
	    
	    $scope.showCategory = function(){
	    	if($scope.updMedal.category == 'Region'){
	    		$scope.regionSelected=true;
	    		$scope.hpSelected=false;
	    		$scope.stSelected=false;
	    		$scope.updMedal.region="";
	    	}
	    	
	    	if($scope.updMedal.category == 'Historical Period'){
	    		$scope.regionSelected=false;
	    		$scope.hpSelected=true;
	    		$scope.stSelected=false;
	    		$scope.updMedal.historicalPeriod="";
	    	}
	    	
	    	if($scope.updMedal.category == 'Type of Structure'){
	    		$scope.regionSelected=false;
	    		$scope.hpSelected=false;
	    		$scope.stSelected=true;
	    		$scope.updMedal.typeOfStructure="";
	    	}
	    };		
	
		$scope.executeUpdMedal = function(){	
			$scope.imgCode="medals-" + Date.now();
	    	if(newImg==true){
		    	//Upload image on server
				$http({
					method: 'POST',
					url: '/upload'
				}).then(function successCallback(response) {	
				}, function errorCallback(response) {  //return an error because the upload is performed by the server
					updateImage($scope.imgCode, oldImgCode);
				});
		    	
	    	}
	    	else{
	    		//Fake POST
	    		$http({
					method: 'POST',
					url: '/'
				}).then(function successCallback(response) {	
				}, function errorCallback(response) {  //return an error because the upload is performed by the server						
					checkMedal(oldImgCode);	
				});

	    	}
		}
	    
	    function updateImage(image, oldImgCode) {
	    	//Query: UPDATE Image on DB
			$http({
				method: 'GET',
				url: '/updImage/..%2F..%2F..%2F..%2Fimages%2Fmedals%2F/' + image + '.' + type +'/'+ oldImgCode
			}).then(function successCallback(response) {	
				checkMedal(oldImgCode);
			}, function errorCallback(response) {			
				alert("Error on the query: updImage UPDATE");
			});	
	    }
	    
		function checkMedal(imgCode) {
	    	if($scope.updMedal.category != oldCategory){
	    		
				if($scope.updMedal.category == 'Region'){	
					$http({
						method : "GET",
						url : "/getRegionMedalByRegionCode/"+getRegionCode()
					}).then(function mySucces(response) {
						if(response.data.length > 0){
							alert("There is already a medal associated with this region.");
							window.open("Medals.html", "_self");  
						}
						else{
							if(oldCategory == "Historical Period"){							
								delCategoryMedal("delHPMedal",imgCode);
							}
							if(oldCategory == "Type of Structure"){
								delCategoryMedal("delToSMedal",imgCode);
							}
						}	
					}, function myError(response) {
						alert("Error on the query: getRegionMedalByRegionCode SELECT");
					});	
				}
				
				if($scope.updMedal.category == 'Historical Period'){
					$http({
						method : "GET",
						url : "/getHPMedalByHPCode/"+getHPCode()
					}).then(function mySucces(response) {
						if(response.data.length > 0){
							alert("There is already a medal associated with this historical period.");
							window.open("Medals.html", "_self");  
						}
						else{
							if(oldCategory == "Region"){
								delCategoryMedal("delRegionMedal",imgCode);
							}
							if(oldCategory == "Type of Structure"){			
								delCategoryMedal("delToSMedal",imgCode);
							}
						}
					}, function myError(response) {
						alert("Error on the query: getHPMedalByHPCode SELECT");
					});	
				}
				if($scope.updMedal.category == 'Type of Structure'){
					$http({
						method : "GET",
						url : "/getToSMedalByToSCode/"+getToSCode()
					}).then(function mySucces(response) {
						if(response.data.length > 0){
							alert("There is already a medal associated with this type of structure.");
							window.open("Medals.html", "_self");  
						}
						else{
							if(oldCategory == "Region"){
								delCategoryMedal("delRegionMedal",imgCode);
							}
							if(oldCategory == "Historical Period"){
								delCategoryMedal("delHPMedal",imgCode);
							}
						}
					}, function myError(response) {
						alert("Error on the query: getToSMedalByToSCode SELECT");
					});	
				}
			}		    
			else{
				if($scope.updMedal.category == 'Region'){
					if(getRegionCode() == oldMedalTypeCode){
						updateMedal("update", imgCode);
					}
					else{
						getCategoryMedalByCategoryCode("getRegionMedalByRegionCode", getRegionCode(), imgCode, "Region");
					}
				}
				
				if($scope.updMedal.category == 'Historical Period'){
					if(getHPCode() == oldMedalTypeCode){
						updateMedal("update", imgCode);
					}
					else{
						getCategoryMedalByCategoryCode("getHPMedalByHPCode", getHPCode(), imgCode, "Historical Period");
					}
				}
				
				if($scope.updMedal.category == 'Type of Structure'){
					if(getToSCode() == oldMedalTypeCode){
						updateMedal("update", imgCode);
					}
					else{
						getCategoryMedalByCategoryCode("getToSMedalByToSCode", getToSCode(), imgCode, "Type of Structure");
					}
				}
				
			}
	    }
	    
	    function updateMedal(state, imgCode) {
	    	//Query: UPDATE Medal on DB
			$http({
				method: 'GET',
				url: '/updMedal/'+$scope.updMedal.name+'/'+getCategoryCode()+'/'+$scope.updMedal.numOfPlaces+'/'+imgCode+'/'+medalCode			
			}).then(function successCallback(response) {	
									
				if($scope.updMedal.category=='Region'){		
					if(state=="update"){
						updCategoryMedal("updRegionMedal",getRegionCode());
					}
					if(state=="new"){
						addCategoryMedal("addRegionMedal", getRegionCode());
					}
				}
				
				if($scope.updMedal.category=='Historical Period'){
					if(getHPCode()==0){
						$http({
							method: 'GET',
							url:	'/addHistoricalPeriod/0/'+$scope.updMedal.historicalPeriod
						}).then(function successCallback(response) {	
							var hpCodeDB = response.data.insertId;
							if(state=="update"){
								updCategoryMedal("updHPMedal",hpCodeDB);
							}
							if(state=="new"){
								addCategoryMedal("addHPMedal", hpCodeDB);
							}
						}, function errorCallback(response) {
							alert("Error on the query: addHistoricalPeriod INSERT");
						});
					}
					else{
						if(state=="update"){
							updCategoryMedal("updHPMedal",getHPCode());
						}
						if(state=="new"){
							addCategoryMedal("addHPMedal", getHPCode());
						}
					}
				}
				
				if($scope.updMedal.category=='Type of Structure'){
					if(getToSCode()==0){						
						$http({
							method: 'GET',
							url:	'/addStructureType/0/'+$scope.updMedal.typeOfStructure
						}).then(function successCallback(response) {	
							var tosCodeDB = response.data.insertId;
							if(state=="update"){
								updCategoryMedal("updToSMedal",tosCodeDB);
							}
							if(state=="new"){
								addCategoryMedal("addToSMedal", tosCodeDB);
							}
						}, function errorCallback(response) {
							alert("Error on the query: addStructureType INSERT");
						});
					}
					else{
						if(state=="update"){
							updCategoryMedal("updToSMedal",getToSCode());
						}
						if(state=="new"){
							addCategoryMedal("addToSMedal", getToSCode());
						}
					}
				}

			}, function errorCallback(response) {
				alert("Error on the query: updMedal UPDATE");
			});			
		}
	    
	    function getCategoryMedalByCategoryCode(query, categoryCode, imgCode, category){
	    	$http({
				method : "GET",
				url : "/"+query+"/"+categoryCode
			}).then(function mySucces(response) {
				if(response.data.length > 0){
					alert("There is already a medal associated with this "+category);
					window.open("Medals.html", "_self");   
				}
				else{
					delHeritageMedalByMedalCode("update", imgCode);
				}	
			}, function myError(response) {
				alert("Error on the query: "+query+" SELECT");
			});	
	    }
	    
	    function addCategoryMedal(query, categoryCode){
	    	$http({
				method: 'GET',
				url: '/'+query+'/'+medalCode+'/'+categoryCode			
			}).then(function successCallback(response) {	
				checkAssociatedCHs(categoryCode);
			}, function errorCallback(response) {
				alert("Error on the query: "+query+" INSERT");
			});
	    }
	    
	    function updCategoryMedal(query, categoryCode){
	    	$http({
				method: 'GET',
				url: '/'+query+'/'+categoryCode+'/'+medalCode			
			}).then(function successCallback(response) {	 
				checkAssociatedCHs(categoryCode);
			}, function errorCallback(response) {
				alert("Error on the query: "+query+" UPDATE");
			});
	    }
	    
	    function delCategoryMedal(query, imgCode){
	    	$http({
				method: 'GET',
				url: '/'+query+'/'+medalCode			
			}).then(function successCallback(response) {										
				delHeritageMedalByMedalCode("new", imgCode);
			}, function errorCallback(response) {
				alert("Error on the query: "+query+" DELETE");
			});
	    }
	    
	    function checkAssociatedCHs(categoryCode){
	    	if($scope.updMedal.category=='Region'){
				getAssociatedCHs("getRegionCHs", categoryCode);
			}
			if($scope.updMedal.category=='Historical Period'){
				getAssociatedCHs("getHPCHs", categoryCode);
			}
			if($scope.updMedal.category=='Type of Structure'){
				getAssociatedCHs("getToSCHs", categoryCode);
			}
	    }
	    
	    function getAssociatedCHs(query, categoryCode){
	    	$http({
				method: 'GET',
				url: '/'+query+'/'+categoryCode			
			}).then(function successCallback(response) {					
				addCHs=response.data.length;				
				for(var i=0; i < response.data.length; i++){
					addHeritageMedal(response.data[i].code);
				}
				canReload();
			}, function errorCallback(response) {
				alert("Error on the query: "+query+" SELECT");
			});
	    }
	    
	    function addHeritageMedal(chCode){
	    	$http({
				method: 'GET',
				url: '/addHeritageMedal/'+chCode+'/'+medalCode
			}).then(function successCallback(response) {	
				addCHs--;
				canReload();
			}, function errorCallback(response) {
				alert("Error on the query: addHeritageMedal SELECT");
			});
	    }
	    
	    function delHeritageMedalByMedalCode(state, imgCode){
	    	$http({
				method: 'GET',
				url: '/delHeritageMedalByMedalCode/'+medalCode			
			}).then(function successCallback(response) {										
				updateMedal(state, imgCode);	
			}, function errorCallback(response) {
				alert("Error on the query: delHeritageMedalByMedalCode DELETE");
			});
	    }

	    function canReload(){
			if(addCHs==0){
				window.open("Medals.html", "_self");  
	   		}
		}
	    
		function getCategoryCode(){
			var catCode=0;
			for (var i=0; i<$scope.categories.length; i++) {
				if($scope.categories[i].name == $scope.updMedal.category){
					catCode = $scope.categories[i].code;
				}
			}
			return catCode;
		}
		
		function getRegionCode(){
			var regCode=0;
			for (var i=0; i<$scope.regions.length; i++) {			
				if($scope.regions[i].name == $scope.updMedal.region.name || $scope.regions[i].name == $scope.updMedal.region){
					regCode = $scope.regions[i].code;
				}
			}
			return regCode;
		}
		
		function getHPCode(){
			var hpCode=0;
			for (var i=0; i<$scope.historicalPeriods.length; i++) {	
				if($scope.historicalPeriods[i].name == $scope.updMedal.historicalPeriod.name || $scope.historicalPeriods[i].name == $scope.updMedal.historicalPeriod){
					hpCode = $scope.historicalPeriods[i].code;
				}
			}
			return hpCode;
		}
		
		function getToSCode(){
			var tosCode=0;
			for (var i=0; i<$scope.typeOfStructures.length; i++) {	
				if($scope.typeOfStructures[i].name == $scope.updMedal.typeOfStructure.name || $scope.typeOfStructures[i].name == $scope.updMedal.typeOfStructure){
					tosCode = $scope.typeOfStructures[i].code;
				}
			}
			return tosCode;
		}
	
	});

</script>