<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-app="GoPoleis" >

	 <div class="col-sm-10" ng-controller="delMedalController">
		<div>
			<h1 style="margin:20px;"><u>Medals</u></h1>
			<fieldset style="margin-top:50px; margin-left:20px;"> 	
	           	<label for="search" style="display: inline-block; vertical-align: bottom;" >
		        	<span class="glyphicon glyphicon-search"></span>
		        	Search: 
		        </label>
	      		<input type="text" ng-model="searchBoxMedals.name" class="form-control" style="width:300px; display: inline-block; vertical-align: bottom;"/>
	      		<label style="display: inline-block; margin-left: 120px;">
		     		Filter by medal's category:  
				</label>
				
				<h5 style="display: inline-block;">	
		     		<span class="glyphicon glyphicon-check" ng-click="regionCategory()" style="margin-left: 20px;" ng-show="regionFilter" value='region'></span>			
	     			<span class="glyphicon glyphicon-unchecked" ng-click="regionCategory()" style="margin-left: 20px;" ng-hide="regionFilter"></span>  
		     		<h5 style="display: inline-block;  margin-left: 5px;">Region</h5>
		     		   		
		     		<span class="glyphicon glyphicon-check" ng-click="hpCategory()" style="margin-left: 50px;" ng-show="hpFilter" value='historicalPeriod'></span>
	     			<span class="glyphicon glyphicon-unchecked" ng-click="hpCategory()" style="margin-left: 50px;" ng-hide="hpFilter"></span>	     		
		     		<h5 style="display: inline-block;  margin-left: 5px;">Historical period</h5>
		     		
		     		<span class="glyphicon glyphicon-check" ng-click="tosCategory()" style="margin-left: 50px;" ng-show="tosFilter" value='typeOfStructure'></span>
	     			<span class="glyphicon glyphicon-unchecked" ng-click="tosCategory()" style="margin-left: 50px;" ng-hide="tosFilter"></span>
		     		<h5 style="display: inline-block;  margin-left: 5px;">Type of structure</h5>
				</h5>
	        </fieldset>
	        <ul style="list-item-style:none; margin-left:0px; padding-left:0px; width: 1500px;">
	       		<li ng-repeat="medal in medals | filter:searchBoxMedals | category:filterCategory" class="thumbnail col-sm-3" style=" margin:20px; padding: 20px; width:450px; text-align:left;" 
	       			ng-model="getAllMedals.selection" ng-value="medal.name" id="{{medal.name}}">	
	       			<span class="glyphicon glyphicon-trash" style="float:right;" ng-click="delMedal(medal.code, medal.image)"></span>        	
	        		<h4 medal.name="selection">
	        			<img ng-src="{{medal.path}}{{medal.filename}}" style="height: 80px; width: 80px;"/>
	        			{{ medal.name }}
	        		</h4>	
	       		</li>
	        </ul>
        </div>

	</div> 

</body>
</html>
<script>
	var app = angular.module("GoPoleis", []);
	app.controller('delMedalController', function($scope, $http, $window, $timeout) {

		$http({
			method : "GET",
			url : "/getAllMedals"
		}).then(function mySucces(response) {
			$scope.medals  = response.data;
		}, function myError(response) {
			alert("Error on the query: getAllMedals SELECT");
		});
		
		$scope.regionFilter=false;
		$scope.hpFilter=false;
		$scope.tosFilter=false;
		
		$scope.regionCategory = function(){
	    	if($scope.regionFilter){
	    		$scope.regionFilter=false;
	    	}
	    	else{
	    		$scope.regionFilter=true;	    		
	    	}
	    	checkFilters();
	    }
	    
	    $scope.hpCategory = function(){
	    	if($scope.hpFilter){
	    		$scope.hpFilter=false;
	    	}
	    	else{
	    		$scope.hpFilter=true;
	    	}
    		checkFilters();
	    }
	    
	    $scope.tosCategory = function(){
	    	if($scope.tosFilter){
	    		$scope.tosFilter=false;
	    	}
	    	else{
	    		$scope.tosFilter=true;
	    	}
    		checkFilters();
	    }

		function checkFilters(){
			if($scope.regionFilter==false && $scope.hpFilter==false && $scope.tosFilter==false){
				$scope.filterCategory=[{category:'1'}, {category:'2'}, {category:'3'}];
			}	
			else{
				$scope.filterCategory=[];
				if($scope.regionFilter){
					var cat1= {category:'1'}
		    		$scope.filterCategory.push(cat1);
				}
				if($scope.hpFilter){
					var cat2= {category:'2'}
		    		$scope.filterCategory.push(cat2);
				}
				if($scope.tosFilter){
					var cat3= {category:'3'}
		    		$scope.filterCategory.push(cat3);
				}
			}
		}   
		
		$scope.delMedal = function (medalCode, imgCode) {
			if ($window.confirm("Are you sure you want to delete this medal?")) {
               	
               	$http({
  					method : "GET",
  					url : "/delImage/"+imgCode
  				}).then(function mySucces(response) {
  					
	   				$http({
	   					method : "GET",
	   					url : "/delMedal/"+medalCode
	   				}).then(function mySucces(response) {
	   					alert("Successful delete");
	   					window.open("Medals_Template.html", "_self"); 
	   				}, function myError(response) {
	   					alert("Error on the query: delMedal DELETE");
	   				});
	   				
  				}, function myError(response) {
  					alert("Error on the query: delImage DELETE");
  				});
			} 
		}	
			
	});
	
	app.filter('category', function(){		 
		return function(medals, category){
			if(!category){
				return medals;
			}
			var arr = [];
			angular.forEach(medals, function(medal){
				
				for(var i=0; i<category.length; i++){
					if(medal.cCode == category[i].category){
						arr.push(medal);
					}
				}
			})
			return arr;
		}
	})
</script>