<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script> <!-- Per ui.bootstrap -->
</head>
  
<body ng-app="GoPoleis" >
 	<div class="col-sm-10" ng-controller="getMedalsController">
		<div ng-show="getMedalsPage">
			
			<h1 style="margin:20px;"><u>Medals</u></h1>
			<fieldset style="margin-top:50px; margin-left:20px;"> 	
	           	<label for="search" style="display: inline-block; vertical-align: bottom;" >
		        	<span class="glyphicon glyphicon-search"></span>
		        	Search: 
		        </label>
	      		<input type="text" ng-model="searchBoxMedals.name" class="form-control" style="width:300px; display: inline-block; vertical-align: bottom;"/>

				<label style="display: inline-block; margin-left: 120px;">
		     		Filter by medal's category:  
				</label>
				
				<h5 style="display: inline-block;">	
		     		<span class="glyphicon glyphicon-check" ng-click="regionCategory()" style="margin-left: 20px;" ng-show="regionFilter" value='region'></span>			
	     			<span class="glyphicon glyphicon-unchecked" ng-click="regionCategory()" style="margin-left: 20px;" ng-hide="regionFilter"></span>  
		     		<h5 style="display: inline-block;  margin-left: 5px;">Region</h5>
		     		   		
		     		<span class="glyphicon glyphicon-check" ng-click="hpCategory()" style="margin-left: 50px;" ng-show="hpFilter" value='historicalPeriod'></span>
	     			<span class="glyphicon glyphicon-unchecked" ng-click="hpCategory()" style="margin-left: 50px;" ng-hide="hpFilter"></span>	     		
		     		<h5 style="display: inline-block;  margin-left: 5px;">Historical period</h5>
		     		
		     		<span class="glyphicon glyphicon-check" ng-click="tosCategory()" style="margin-left: 50px;" ng-show="tosFilter" value='typeOfStructure'></span>
	     			<span class="glyphicon glyphicon-unchecked" ng-click="tosCategory()" style="margin-left: 50px;" ng-hide="tosFilter"></span>
		     		<h5 style="display: inline-block;  margin-left: 5px;">Type of structure</h5>
				</h5>
			</fieldset>			
							
	        <ul style="list-item-style:none; margin-left:0px; padding-left:0px; width: 1500px;">
	       		<li data-ng-repeat="medal in medals | filter:searchBoxMedals | category:filterCategory " class="thumbnail col-sm-3" style=" margin:20px; padding: 20px; width:450px; text-align:left;" 
	       			ng-model="getAllMedals.selection" ng-value="medal.name" id="{{medal.name}}" ng-click="updMedal(medal.code)">	        	
	        		<h4 medal.name="selection">
	        			<img ng-src="{{medal.path}}{{medal.filename}}" style="height: 80px; width: 80px;"/>
	        			{{ medal.name }} <br><br> #Collections: ...
	        		</h4>	
	       		</li>
	        </ul>
        </div>

        <div ng-show="updMedalPage">

			<h1 style="margin:20px;"><u>Update Medal</u>: [{{updMedal.name}}]</h1><br><br>        
	        
	        <form name="form" role="form" id="uploadMedalForm" enctype="multipart/form-data" action="/upload" method="post">

				<div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }" >
			     	<fieldset style="margin-top:50px; margin-left:20px;"> 	
				     	<label for="name" style="display: inline-block; vertical-align: bottom;">
				     		Name: 
						</label>
						<input type="text" class="form-control" ng-model="updMedal.name" style="width:850px; display: inline-block;" required>
					</fieldset>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': form.image.$dirty && form.image.$error.required }" >
					<fieldset style="margin-top:30px; margin-left:20px;"> 	
						<p id="imgCode" ng-show="false" ng-model="imgCode"></p> 
				     	<label for="image" style="display:inline-block;">
				     		Image:  
						</label>
						<img ng-src="{{ thumbnail.dataUrl }}" style="width:200px; heigth:200px; border: 1px solid black;"/>
						<input type="file" name={{imgCode}} onchange="angular.element(this).scope().imgChanged(this.files)" ngf-pattern="'image/*'" accept="image/*" 
								style="display:inline-block; margin-left:20px;" ngf-max-size="2MB" />
					</fieldset>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error':form.category.$dirty && form.category.$error.required && 
																form.region.$dirty && form.region.$error.required && 
																form.historicalPeriod.$dirty && form.historicalPeriod.$error.required && 
																form.structureType.$dirty && form.structureType.$error.required}" >
																
					<fieldset style="margin-top:30px; margin-left:20px;"> 	
				     	<label for="category" style="display: inline-block;">
				     		Category:  
						</label>
   						<select class="form-control" ng-model="updMedal.category" ng-change="showCategory()" name="category" style="width:300px; display: inline-block;" required>
							<option ng-repeat="x in category">{{x.name}}</option>
						</select>
						
						<label for="region" style="display: inline-block; margin-left:30px;" ng-show="regionSelected">
				     		Region:  
						</label>
						<select class="form-control" ng-model="updMedal.region" name="region" style="width:300px; display: inline-block;" ng-show="regionSelected" ng-required="regionSelected">
							<option ng-repeat="y in regions">{{y.name}}</option>
						</select>
<!-- 						<select class="form-control" ng-model="updMedal.region" name="region" ng-options="option as option.name for option in regions" style="width:300px; display: inline-block;" ng-show="regionSelected" 
								ng-required="regionSelected"></select>	 -->
								
 						<label for="historicalPeriod" style="display: inline-block; margin-left:30px;" ng-show="hpSelected">
				     		Historical period:  
						</label>
						<input name="historicalPeriod" id="historicalPeriod" type="text" placeholder="" ng-model="updMedal.historicalPeriod" style="width:300px; display: inline-block;"
									typeahead="option as option.name for option in historicalPeriods | filter:$viewValue | limitTo:8" class="form-control" ng-show="hpSelected" ng-required="hpSelected">	
									
						<label for="structureType" style="display: inline-block; margin-left:30px;" ng-show="stSelected">
				     		Type of structure:  
						</label>
						<input name="typeOfStructure" id="typeOfStructure" type="text" placeholder="" ng-model="updMedal.typeOfStructure" style="width:300px; display: inline-block;"
									typeahead="option as option.name for option in typeOfStructures | filter:$viewValue | limitTo:8" class="form-control" ng-show="stSelected" ng-required="stSelected">
					</fieldset>
				</div>			

				<div class="form-group" ng-class="{ 'has-error': form.numOfPlaces.$dirty && form.numOfPlaces.$error.required }" >
					<fieldset style="margin-top:30px; margin-left:20px;"> 	
				     	<label for="numOfPlaces" style="display: inline-block; vertical-align: bottom;">
				     		Number of places to visit to obtain this medal: 
						</label>
						<input type="number" min="1"class="form-control" ng-model="updMedal.numOfPlaces" style="width:200px; display: inline-block;" required>
					</fieldset>
				</div>
		
				<div class="form-actions" style="margin-top:60px; margin-bottom:30px; margin-left:200px;">
		            <button type="submit" name="btnUpdMedal" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-info" ng-click="executeUpdMedal()">Update</button>
		            <img ng-if="vm.dataLoading"/>
		            <a href="Medals_Template.html" target="_self">Cancel</a>
		        </div>
	
			</form>
	        
		</div>
        
	</div>

</body>
</html>
<script>

	var app = angular.module("GoPoleis", ["ui.bootstrap"]);
	app.controller('getMedalsController', function($scope, $http, $window, $timeout) {
		$scope.getMedalsPage=true;
		$scope.updMedalPage=false;
		
		$scope.regionFilter=false;
		$scope.hpFilter=false;
		$scope.tosFilter=false;
		
		$scope.filterCategory=[{category:'1'}, {category:'2'}, {category:'3'}];
		
		$http({
			method : "GET",
			url : "/getAllMedals"
		}).then(function mySucces(response) {
			$scope.medals  = response.data;
		}, function myError(response) {
			alert("Error on the query: getAllMedals SELECT");
		});	
		
		 $scope.regionCategory = function(){
	    	if($scope.regionFilter){
	    		$scope.regionFilter=false;
	    	}
	    	else{
	    		$scope.regionFilter=true;	    		
	    	}
	    	checkFilters();
	    }
	    
	    $scope.hpCategory = function(){
	    	if($scope.hpFilter){
	    		$scope.hpFilter=false;
	    	}
	    	else{
	    		$scope.hpFilter=true;
	    	}
    		checkFilters();
	    }
	    
	    $scope.tosCategory = function(){
	    	if($scope.tosFilter){
	    		$scope.tosFilter=false;
	    	}
	    	else{
	    		$scope.tosFilter=true;
	    	}
    		checkFilters();
	    }

		function checkFilters(){
			if($scope.regionFilter==false && $scope.hpFilter==false && $scope.tosFilter==false){
				$scope.filterCategory=[{category:'1'}, {category:'2'}, {category:'3'}];
			}	
			else{
				$scope.filterCategory=[];
				if($scope.regionFilter){
					var cat1= {category:'1'}
		    		$scope.filterCategory.push(cat1);
				}
				if($scope.hpFilter){
					var cat2= {category:'2'}
		    		$scope.filterCategory.push(cat2);
				}
				if($scope.tosFilter){
					var cat3= {category:'3'}
		    		$scope.filterCategory.push(cat3);
				}
			}
		}   

		$scope.updMedal = function(medalCode){ 	
		
			$scope.getMedalsPage=false;
			$scope.updMedalPage=true;
			$scope.updMedal={};
			$scope.updMedal.historicalPeriod = undefined;
			$scope.updMedal.typeOfStructure = undefined;
			var oldCategory=null;
			var oldMedalTypeCode=null;
			
			var newImg = false;
			var oldImgCode;
			var type;
			
			$http({
				method: 'GET',
				url: '/getAllCategories/'
			}).then(function successCallback(response) {	
				$scope.category = response.data;		
			}, function errorCallback(response) {
				alert("Error on the query: Category SELECT *");
			});
			
			$http({
				method: 'GET',
				url: '/getAllRegions'
			}).then(function successCallback(response) {	
				$scope.regions = response.data;  
			}, function errorCallback(response) {
				alert("Error on the query: getAllRegions SELECT");
			});	
			
			$http({
				method: 'GET',
				url: '/getAllHistoricalPeriods'
			}).then(function successCallback(response) {	
				$scope.historicalPeriods = response.data;  
			}, function errorCallback(response) {
				alert("Error on the query: getAllHistoricalPeriods SELECT");
			});	
			
			$http({
				method: 'GET',
				url: '/getAllStructureTypes'
			}).then(function successCallback(response) {	
				$scope.typeOfStructures = response.data;  
			}, function errorCallback(response) {
				alert("Error on the query: getAllStructureTypes SELECT");
			});	
			
			$http({
				method : "GET",
				url : "/getMedal/"+medalCode
			}).then(function mySucces(response) {
				results  = response.data;	
				if (results.length > 0){
					$scope.updMedal.name=results[0].name;
					oldImgCode=results[0].image;
					$scope.thumbnail = { dataUrl: results[0].path+results[0].filename };
					$scope.updMedal.category = results[0].cName;
					$scope.updMedal.numOfPlaces=response.data[0].num;
					
					if($scope.updMedal.category=='Region'){
						$scope.regionSelected=true;
			    		$scope.hpSelected=false;
			    		$scope.stSelected=false;
			    		oldCategory='Region';
						$http({
							method : "GET",
							url : "/getRegionMedalByMedalCode/"+medalCode
						}).then(function mySucces(response) {
							oldMedalTypeCode=response.data[0].regionCode;
							$scope.updMedal.region=response.data[0].region;
						}, function myError(response) {
							$scope.results  = response.statusText;
						});	
					}

					if($scope.updMedal.category=='Historical Period'){
						$scope.regionSelected=false;
			    		$scope.hpSelected=true;
			    		$scope.stSelected=false;
			    		oldCategory='Historical Period';
						$http({
							method : "GET",
							url : "/getHPMedalByMedalCode/"+medalCode
						}).then(function mySucces(response) {
							oldMedalTypeCode=response.data[0].hpCode;
							$scope.updMedal.historicalPeriod=response.data[0].hp;
						}, function myError(response) {
							$scope.results  = response.statusText;
						});	
					}
					
					if($scope.updMedal.category=='Type of Structure'){
						$scope.regionSelected=false;
			    		$scope.hpSelected=false;
			    		$scope.stSelected=true;
			    		oldCategory='Type of Structure';
						$http({
							method : "GET",
							url : "/getToSMedalByMedalCode/"+medalCode
						}).then(function mySucces(response) {
							oldMedalTypeCode=response.data[0].stCode;
							$scope.updMedal.typeOfStructure=response.data[0].structuretype;
						}, function myError(response) {
							$scope.results  = response.statusText;
						});	
					}

				}
			}, function myError(response) {
				$scope.results  = response.statusText;
			});					
			
		    $scope.fileReaderSupported = window.FileReader != null;
		    $scope.imgChanged = function(files){
		        if (files != null) {
		            var file = files[0];
			        if ($scope.fileReaderSupported && file.type.indexOf('image') > -1) {
			            $timeout(function() {
			                var fileReader = new FileReader();
			                fileReader.readAsDataURL(file);
			                fileReader.onload = function(e) {
			                    $timeout(function(){
			 							$scope.thumbnail.dataUrl = e.target.result;		
			                    });
			                }
			            });
			        }	        
		    	}
		        type = file.name.split('.')[file.name.split('.').length -1];
		        newImg=true;
		    };
		    
		    $scope.showCategory = function(){
		    	if($scope.updMedal.category == 'Region'){
		    		$scope.regionSelected=true;
		    		$scope.hpSelected=false;
		    		$scope.stSelected=false;
		    		$scope.updMedal.region="";
		    	}
		    	
		    	if($scope.updMedal.category == 'Historical Period'){
		    		$scope.regionSelected=false;
		    		$scope.hpSelected=true;
		    		$scope.stSelected=false;
		    		$scope.updMedal.historicalPeriod="";
		    	}
		    	
		    	if($scope.updMedal.category == 'Type of Structure'){
		    		$scope.regionSelected=false;
		    		$scope.hpSelected=false;
		    		$scope.stSelected=true;
		    		$scope.updMedal.typeOfStructure="";
		    	}
		    };
			
		    $scope.executeUpdMedal = function(){	
		    	$scope.imgCode="medals-" + Date.now();

		    	if(newImg==true){
			    	//Upload image on server
					$http({
						method: 'POST',
						url: '/upload'
					}).then(function successCallback(response) {	
					}, function errorCallback(response) {  //return an error because the upload is performed by the server
						updateImage($scope.imgCode, oldImgCode);
					});
			    	
		    	}
		    	else{
		    		//Fake POST
		    		$http({
						method: 'POST',
						url: '/'
					}).then(function successCallback(response) {	
					}, function errorCallback(response) {  //return an error because the upload is performed by the server						
						checkMedal(oldImgCode);	
					});

		    	}
			}
		    
		    function updateImage(image, oldImgCode) {
		    	//Query: UPDATE Image on DB
				$http({
					method: 'GET',
					url: '/updImage/..%2F..%2F..%2F..%2Fimages%2Fmedals%2F/' + image + '.' + type +'/'+ oldImgCode
				}).then(function successCallback(response) {	
					checkMedal(oldImgCode);
				}, function errorCallback(response) {			
					alert("Error on the query: Image UPDATE");
				});	
		    }
		    
		    function checkMedal(imgCode) {
		    	if($scope.updMedal.category != oldCategory){
					if($scope.updMedal.category == 'Region'){	
						$http({
							method : "GET",
							url : "/getRegionMedalByRegionCode/"+getRegionCode()
						}).then(function mySucces(response) {
							if(response.data.length > 0){
								alert("There is already a medal associated with this region.");
								window.open("Medals_Template.html", "_self");  
							}
							else{
								if(oldCategory == "Historical Period"){							
									delHPMedal(imgCode);
								}
								if(oldCategory == "Type of Structure"){
									delToSMedal(imgCode);
								}
							}	
						}, function myError(response) {
							$scope.results  = response.statusText;
						});	
					}
					
					if($scope.updMedal.category == 'Historical Period'){
						$http({
							method : "GET",
							url : "/getHPMedalByHPCode/"+getHPCode()
						}).then(function mySucces(response) {
							if(response.data.length > 0){
								alert("There is already a medal associated with this historical period.");
								window.open("Medals_Template.html", "_self");  
							}
							else{
								if(oldCategory == "Region"){
									delRegionMedal(imgCode);	
								}
								if(oldCategory == "Type of Structure"){			
									delToSMedal(imgCode);
								}
							}
						}, function myError(response) {
							$scope.results  = response.statusText;
						});	
					}
					if($scope.updMedal.category == 'Type of Structure'){
						$http({
							method : "GET",
							url : "/getToSMedalByToSCode/"+getToSCode()
						}).then(function mySucces(response) {
							if(response.data.length > 0){
								alert("There is already a medal associated with this type of structure.");
								window.open("Medals_Template.html", "_self");  
							}
							else{
								if(oldCategory == "Region"){
									delRegionMedal(imgCode);	
								}
								if(oldCategory == "Historical Period"){
									delHPMedal(imgCode);
								}
							}
						}, function myError(response) {
							$scope.results  = response.statusText;
						});	
					}
				}
				else{
					if($scope.updMedal.category == 'Region'){
						if(getRegionCode() == oldMedalTypeCode){
							updateMedal("update", imgCode);
						}
						else{
							$http({
								method : "GET",
								url : "/getRegionMedalByRegionCode/"+getRegionCode()
							}).then(function mySucces(response) {
								if(response.data.length > 0){
									alert("There is already a medal associated with this region.");
									window.open("Medals_Template.html", "_self");  
								}
								else{
									updateMedal("update", imgCode);
								}							
							}, function myError(response) {
								$scope.results  = response.statusText;
							});	
						}
					}
					
					if($scope.updMedal.category == 'Historical Period'){
						if(getHPCode() == oldMedalTypeCode){
							updateMedal("update", imgCode);
						}
						else{
							$http({
								method : "GET",
								url : "/getHPMedalByHPCode/"+getHPCode()
							}).then(function mySucces(response) {
								if(response.data.length > 0){
									alert("There is already a medal associated with this historical period.");
									window.open("Medals_Template.html", "_self");   
								}
								else{
									updateMedal("update", imgCode);
								}
							}, function myError(response) {
								$scope.results  = response.statusText;
							});	
						}
					}
					
					if($scope.updMedal.category == 'Type of Structure'){
						if(getToSCode() == oldMedalTypeCode){
							updateMedal("update", imgCode);
						}
						else{
							$http({
								method : "GET",
								url : "/getToSMedalByToSCode/"+getToSCode()
							}).then(function mySucces(response) {
								if(response.data.length > 0){
									alert("There is already a medal associated with this type of structure.");
									window.open("Medals_Template.html", "_self");   
								}
								else{
									updateMedal("update", imgCode);
								}	
							}, function myError(response) {
								$scope.results  = response.statusText;
							});	
						}
					}
					
				}
		    }
		    
		    function delRegionMedal(imgCode){
		    	$http({
					method: 'GET',
					url: '/delRegionMedal/'+medalCode			
				}).then(function successCallback(response) {										
					updateMedal("new", imgCode);	
				}, function errorCallback(response) {
					alert("Error on the query: Medal UPDATE");
				});
		    }
		    
		    function delHPMedal(imgCode){
		    	$http({
					method: 'GET',
					url: '/delHPMedal/'+medalCode			
				}).then(function successCallback(response) {										
					updateMedal("new", imgCode);	
				}, function errorCallback(response) {
					alert("Error on the query: Medal UPDATE");
				});
		    }
		    
		    function delToSMedal(imgCode){
		    	$http({
					method: 'GET',
					url: '/delToSMedal/'+medalCode			
				}).then(function successCallback(response) {										
					updateMedal("new", imgCode);	
				}, function errorCallback(response) {
					alert("Error on the query: Medal UPDATE");
				});
		    }
		    
		    function updateMedal(state, imgCode) {
		    	//Query: UPDATE Medal on DB
				$http({
					method: 'GET',
					url: '/updMedal/'+$scope.updMedal.name+'/'+getCategoryCode()+'/'+$scope.updMedal.numOfPlaces+'/'+imgCode+'/'+medalCode			
				}).then(function successCallback(response) {	
										
					if($scope.updMedal.category=='Region'){		
						if(state=="update"){
							$http({
								method: 'GET',
								url: '/updRegionMedal/'+getRegionCode()+'/'+medalCode			
							}).then(function successCallback(response) {	
								window.open("Medals_Template.html", "_self");   
							}, function errorCallback(response) {
								alert("Error on the query: Medal UPDATE");
							});
						}
						if(state=="new"){
							$http({
								method: 'GET',
								url: '/addRegionMedal/'+medalCode+'/'+getRegionCode()			
							}).then(function successCallback(response) {	
								window.open("Medals_Template.html", "_self");   
							}, function errorCallback(response) {
								alert("Error on the query: Medal UPDATE");
							});
						}
					}
					
					if($scope.updMedal.category=='Historical Period'){
						if(getHPCode()==0){
							$http({
								method: 'GET',
								url:	'/addHistoricalPeriod/0/'+$scope.updMedal.historicalPeriod
							}).then(function successCallback(response) {	
								var hpCodeDB = response.data.insertId;
								if(state=="update"){
									updHPMedal(hpCodeDB);
								}
								if(state=="new"){
									addHPMedal(hpCodeDB);
								}
							}, function errorCallback(response) {
								alert("Error on the query: addHistoricalPeriod INSERT");
							});
						}
						else{
							if(state=="update"){
								updHPMedal(getHPCode());
							}
							if(state=="new"){
								addHPMedal(getHPCode());
							}
						}
					}
					
					if($scope.updMedal.category=='Type of Structure'){
						if(getToSCode()==0){						
							$http({
								method: 'GET',
								url:	'/addStructureType/0/'+$scope.updMedal.typeOfStructure
							}).then(function successCallback(response) {	
								var tosCodeDB = response.data.insertId;
								if(state=="update"){
									updToSMedal(tosCodeDB);
								}
								if(state=="new"){
									addToSMedal(tosCodeDB);
								}
							}, function errorCallback(response) {
								alert("Error on the query: addHistoricalPeriod INSERT");
							});
						}
						else{
							if(state=="update"){
								updToSMedal(getToSCode());
							}
							if(state=="new"){
								addToSMedal(getToSCode());
							}
						}
					}

				}, function errorCallback(response) {
					alert("Error on the query: Medal UPDATE");
				});			
			}
		    
		    function addHPMedal(hpCode){
		    	$http({
					method: 'GET',
					url: '/addHPMedal/'+medalCode+'/'+hpCode			
				}).then(function successCallback(response) {	
					window.open("Medals_Template.html", "_self");   
				}, function errorCallback(response) {
					alert("Error on the query: Medal UPDATE");
				});
		    }
		    
		    function updHPMedal(hpCode){
		    	$http({
					method: 'GET',
					url: '/updHPMedal/'+hpCode+'/'+medalCode			
				}).then(function successCallback(response) {	
					window.open("Medals_Template.html", "_self");   
				}, function errorCallback(response) {
					alert("Error on the query: Medal UPDATE");
				});
		    }
		    
		    function addToSMedal(tosCode){
		    	$http({
					method: 'GET',
					url: '/addToSMedal/'+medalCode+'/'+tosCode			
				}).then(function successCallback(response) {	
					window.open("Medals_Template.html", "_self");   
				}, function errorCallback(response) {
					alert("Error on the query: Medal UPDATE");
				});
		    }
		    
		    function updToSMedal(tosCode){
		    	$http({
					method: 'GET',
					url: '/updToSMedal/'+tosCode+'/'+medalCode			
				}).then(function successCallback(response) {	
					window.open("Medals_Template.html", "_self");   
				}, function errorCallback(response) {
					alert("Error on the query: Medal UPDATE");
				});
		    }
		    
			function getCategoryCode(){
				var catCode=0;
				for (var i=0; i<$scope.category.length; i++) {
					if($scope.category[i].name == $scope.updMedal.category){
						catCode = $scope.category[i].code;
					}
				}
				return catCode;
			}
			
			function getRegionCode(){
				var regCode=0;
				for (var i=0; i<$scope.regions.length; i++) {			
					if($scope.regions[i].name == $scope.updMedal.region.name || $scope.regions[i].name == $scope.updMedal.region){
						regCode = $scope.regions[i].code;
					}
				}
				return regCode;
			}
			
			function getHPCode(){
				var hpCode=0;
				for (var i=0; i<$scope.historicalPeriods.length; i++) {	
					if($scope.historicalPeriods[i].name == $scope.updMedal.historicalPeriod.name || $scope.historicalPeriods[i].name == $scope.updMedal.historicalPeriod){
						hpCode = $scope.historicalPeriods[i].code;
					}
				}
				return hpCode;
			}
			
			function getToSCode(){
				var tosCode=0;
				for (var i=0; i<$scope.typeOfStructures.length; i++) {	
					if($scope.typeOfStructures[i].name == $scope.updMedal.typeOfStructure.name || $scope.typeOfStructures[i].name == $scope.updMedal.typeOfStructure){
						tosCode = $scope.typeOfStructures[i].code;
					}
				}
				return tosCode;
			}
		}
			
	});
	
	
	app.filter('category', function(){		 
		return function(medals, category){
			if(!category){
				return medals;
			}
			var arr = [];
			angular.forEach(medals, function(medal){
				
				for(var i=0; i<category.length; i++){
					if(medal.cCode == category[i].category){
						arr.push(medal);
					}
				}
			})
			return arr;
		}
	})
</script>