<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
</head>
<body ng-app="GoPoleis" >

	<div class="col-sm-11" ng-controller="getPlayersStatisticsController">
			
		<h1 style="margin:20px;"><u>Statistics</u></h1>
		
		<form name="form" role="form" enctype="multipart/form-data" method="post"  style="margin-top:50px; margin-left:20px; width:750px;">															
			<fieldset> 		
 				<label for="game" style="display: inline-block; vertical-align:center; width:750px;">
		     		Select the game for which you want to view its players' statistics:  
				</label>
			</fieldset>
			<fieldset style="margin-top:15px; margin-left:50px; width:750px;"> 		
				<input type="radio" ng-model="selectGame" value="Cultural Heritages" style="margin-right:5px;" ng-change="updateGameStatistics()"><b>Cultural Heritages</b>
				<input type="radio" ng-model="selectGame" value="Cards' Packets" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Cards' Packets</b>
				<input type="radio" ng-model="selectGame" value="Paths" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Paths</b>			
 				<input type="radio" ng-model="selectGame" value="Reviews" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Reviews</b>
				<input type="radio" ng-model="selectGame" value="Medals" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Medals</b>
				<input type="radio" ng-model="selectGame" value="Missions" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Missions</b>			
			</fieldset>
		</form>

		<div id="container" style="min-width: 310px; margin-left:20px; margin-top:50px; height:{{frameHeight}}"></div>

	</div>

</body>
</html>

<script>
var app = angular.module("GoPoleis", []);
app.controller('getPlayersStatisticsController', function($scope, $http, $window, $timeout) {
	
	$scope.frameHeight = ($window.innerHeight - 250) + "px";     
	angular.element($window).bind('resize', function(){    
		$scope.frameHeight = ($window.innerHeight - 250) + "px";
		$scope.$digest();
	});
	
	$scope.selectGame = null;
	var regions=null;
	
	$http({
		method : "GET",
		url : "/getAllRegions/"
	}).then(function mySucces(response) {
		regions = response.data;
	}, function myError(response) {
		alert("Error on the query: getAllRegions SELECT");
	});
	
	$scope.updateGameStatistics = function(){
		
		var drilldownMission=[];
		
		if($scope.selectGame == 'Cultural Heritages'){
			localizedChart ("getAllCHsVisitedRegions", "getAllCHsVisitedProvinces", "getAllCHsVisitedCHs", "Total visits of Cultural Heritages");		
		}
		if($scope.selectGame == 'Cards\' Packets'){	
			localizedChart ("getAllCardsPacketsOpenRegions", "getAllCardsPacketsOpenProvinces", "getAllCardsPacketsOpenCHs", "Total open Cards\' Packets");		
		}
		
		if($scope.selectGame == 'Paths'){
			localizedChart ("getAllPathsCompletedRegions", "getAllPathsCompletedProvinces", "getAllPathsCompletedCHs", "Total completed Paths");
		}
		
		if($scope.selectGame == 'Reviews'){			
			localizedChart ("getAllReviewsWrittenRegions", "getAllReviewsWrittenProvinces", "getAllReviewsWrittenCHs", "Total written Reviews");
		}

		if($scope.selectGame == 'Medals'){			
			$http({
				method : "GET",
				url : "/getAllMedalsWonCategories"
			}).then(function mySucces(response) {
				var categoriesData = response.data;
				$http({
					method : "GET",
					url : "/getAllMedalsWonMedals"
				}).then(function mySucces(response) {
					var medalsData = response.data;
					
					var title = $scope.selectGame;
					var subtitle = "Click on the histogram for a more detailed view, if available.";
					var yAxis = "Total Medals won";			
					var series = [{
					     name: 'Categories',
					     colorByPoint: false,
					     data: categoriesData
					 }];
					var drilldown=[];
					var serie = {};
					
					if(medalsData.length > 0){
						var actualCategory = medalsData[0].drilldown;
						var data = [];
						var medalData = {};
						for(var i=0; i < medalsData.length; i++){	
							if(actualCategory == medalsData[i].drilldown){
								medalData = {name:medalsData[i].name, y:medalsData[i].y, drilldown:medalsData[i].name};
								data.push(medalData);
							}
							else{
								serie = {name: "Medals", id: actualCategory, data: data};
								drilldown.push(serie);
								actualCategory = medalsData[i].drilldown;
								data = [];
								medalData = {};
								i--;
							}
						}
						var serie = {name: actualCategory, id: actualCategory, data: data};
						drilldown.push(serie);	
					}
					else{
						alert("No Medals data available!");
					}					
					createChart(title, subtitle, yAxis, series, drilldown);
					
				}, function myError(response) {
					alert("Error on the query: getAllMedalsWonMedals SELECT");
				});
			}, function myError(response) {
				alert("Error on the query: getAllMedalsWonCategories SELECT");
			});
		}
		
		if($scope.selectGame == 'Missions'){					
			var serie;
		
			$http({
				method : "GET",
				url : "/getAllMissionsCompletedGames"
			}).then(function mySucces(response) {
				var gamesData = response.data;
		
				var title = $scope.selectGame;
				var subtitle = "Click on the histogram for a more detailed view, if available.";
				var yAxis = 'Total completed Missions';			
				var series = [{
				     name: 'Missions',
				     colorByPoint: false,
				     data: gamesData
				}];
		
				localizedMission("Open Cards\' Packet", "1");
				collectCard("Collect Card", "2");
				localizedMission("Visit Cultural Heritage", "3");
				collectMedal("Collect Medal", "4");
				localizedMission("Complete Path", "5");
				localizedMission("Write Review", "6");

				createChart(title, subtitle, yAxis, series, drilldownMission)
		
			}, function myError(response) {
				alert("Error on the query: getAllMissionsCompletedGames SELECT");
			});	
		}
				
		function localizedMission(missionTypeName, missionTypeCode){
			$http({
				method : "GET",
				url : "/getAllLocalizedMissionsCompletedGranularities/"+missionTypeName+"/"+missionTypeCode
			}).then(function mySucces(response) {
				serie = {name: missionTypeName, id: missionTypeName, data: response.data};
				drilldownMission.push(serie);
				localizedMissionAll(missionTypeName, missionTypeCode);
				localizedMissionRegionalRegion(missionTypeName, missionTypeCode);
				localizedMissionProvincialRegion(missionTypeName, missionTypeCode);
				localizedMissionCHRegion(missionTypeName, missionTypeCode);		
			}, function myError(response) {
				alert("Error on the query: getAllLocalizedMissionsCompletedGranularities SELECT");
			});
		}
		
		function localizedMissionAll(missionTypeName, missionTypeCode){			
			$http({
				method : "GET",
				url : "/getAllLocalizedMissionsCompletedAllMissions/"+missionTypeName+"/"+missionTypeCode
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - All", id: missionTypeName+" - All", data: response.data};
				drilldownMission.push(serie);
			}, function myError(response) {
				alert("Error on the query: getAllLocalizedMissionsCompletedAllMissions SELECT");
			});
		}
		
		function localizedMissionRegionalRegion(missionTypeName, missionTypeCode){			
			$http({
				method : "GET",
				url : "/getAllLocalizedMissionsCompletedRegionalRegion/"+missionTypeName+"/"+missionTypeCode
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Regional", id: missionTypeName+" - Regional", data: response.data};
				drilldownMission.push(serie);
				for(var i=0; i < regions.length; i++){
					localizedMissionRegionalMission(missionTypeName, missionTypeCode, regions[i].code, regions[i].name);
				}				
			}, function myError(response) {
				alert("Error on the query: getAllLocalizedMissionsCompletedRegionalRegion SELECT");
			});
		}
		
		function localizedMissionRegionalMission(missionTypeName, missionTypeCode, regionCode, regionName){			
			$http({
				method : "GET",
				url : "/getAllLocalizedMissionsCompletedRegionalMission/"+missionTypeName+"/"+missionTypeCode+"/"+regionCode
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Regional - "+regionName, id: missionTypeName+" - Regional - "+regionName, data: response.data};
				drilldownMission.push(serie);
			}, function myError(response) {
				alert("Error on the query: getAllLocalizedMissionsCompletedRegionalMission SELECT");
			});
		}
		
		function localizedMissionProvincialRegion(missionTypeName, missionTypeCode){			
			$http({
				method : "GET",
				url : "/getAllLocalizedMissionsCompletedProvincialRegion/"+missionTypeName+"/"+missionTypeCode
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Provincial", id: missionTypeName+" - Provincial", data: response.data};
				drilldownMission.push(serie);
				for(var i=0; i < response.data.length; i++){
					localizedMissionProvincialProvince(missionTypeName, missionTypeCode, response.data[i].drilldown, response.data[i].region);
				}
			}, function myError(response) {
				alert("Error on the query: getAllLocalizedMissionsCompletedProvincialRegion SELECT");
			});
		}
		
		function localizedMissionProvincialProvince(missionTypeName, missionTypeCode, idSerie, regionCode){	
			$http({
				method : "GET",
				url : "/getAllLocalizedMissionsCompletedProvincialProvince/"+missionTypeName+"/"+missionTypeCode+"/"+regionCode
			}).then(function mySucces(response) {
				serie = {name: idSerie, id: idSerie, data: response.data};
				drilldownMission.push(serie);
				for(var i=0; i < response.data.length; i++){
					localizedMissionProvincialMission(missionTypeName, missionTypeCode, response.data[i].drilldown, response.data[i].province);
				}
			}, function myError(response) {
				alert("Error on the query: getAllLocalizedMissionsCompletedProvincialProvince SELECT");
			});
		}
		
		function localizedMissionProvincialMission(missionTypeName, missionTypeCode, idSerie, provinceCode){				
			$http({
				method : "GET",
				url : "/getAllLocalizedMissionsCompletedProvincialMission/"+missionTypeName+"/"+missionTypeCode+"/"+provinceCode
			}).then(function mySucces(response) {
				serie = {name: idSerie, id: idSerie, data: response.data};
				drilldownMission.push(serie);
			}, function myError(response) {
				alert("Error on the query: getAllLocalizedMissionsCompletedProvincialMission SELECT");
			});
		}
		
		function localizedMissionCHRegion(missionTypeName, missionTypeCode){			
			$http({
				method : "GET",
				url : "/getAllLocalizedMissionsCompletedCHRegion/"+missionTypeName+"/"+missionTypeCode
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Heritage", id: missionTypeName+" - Heritage", data: response.data};
				drilldownMission.push(serie);
				for(var i=0; i < response.data.length; i++){
					localizedMissionCHProvince(missionTypeName, missionTypeCode, response.data[i].drilldown, response.data[i].region);
				}
			}, function myError(response) {
				alert("Error on the query: getAllLocalizedMissionsCompletedCHRegion SELECT");
			});
		}
		
		function localizedMissionCHProvince(missionTypeName, missionTypeCode, idSerie, regionCode){	
			$http({
				method : "GET",
				url : "/getAllLocalizedMissionsCompletedCHProvince/"+missionTypeName+"/"+missionTypeCode+"/"+regionCode
			}).then(function mySucces(response) {
				serie = {name: idSerie, id: idSerie, data: response.data};
				drilldownMission.push(serie);
				for(var i=0; i < response.data.length; i++){
					localizedMissionCHCH(missionTypeName, missionTypeCode, response.data[i].drilldown, response.data[i].province);
				}
			}, function myError(response) {
				alert("Error on the query: getAllLocalizedMissionsCompletedCHProvince SELECT");
			});
		}
		
		function localizedMissionCHCH(missionTypeName, missionTypeCode, idSerie, provinceCode){	
			$http({
				method : "GET",
				url : "/getAllLocalizedMissionsCompletedCHCH/"+missionTypeName+"/"+missionTypeCode+"/"+provinceCode
			}).then(function mySucces(response) {
				serie = {name: idSerie, id: idSerie, data: response.data};
				drilldownMission.push(serie);
				for(var i=0; i < response.data.length; i++){
					localizedMissionCHMission(missionTypeName, missionTypeCode, response.data[i].drilldown, response.data[i].ch);
				}
			}, function myError(response) {
				alert("Error on the query: getAllLocalizedMissionsCompletedCHCH SELECT");
			});
		}
		
		function localizedMissionCHMission(missionTypeName, missionTypeCode, idSerie, chCode){	
			$http({
				method : "GET",
				url : "/getAllLocalizedMissionsCompletedCHMission/"+missionTypeName+"/"+missionTypeCode+"/"+chCode
			}).then(function mySucces(response) {
				serie = {name: idSerie, id: idSerie, data: response.data};
				drilldownMission.push(serie);
			}, function myError(response) {
				alert("Error on the query: getAllLocalizedMissionsCompletedCHMission SELECT");
			});
		}
		
		function collectCard(missionTypeName, missionTypeCode){
			$http({
				method : "GET",
				url : "/getAllCollectCardMissionsCollectedRarities/"+missionTypeName+"/"+missionTypeCode
			}).then(function mySucces(response) {
				serie = {name: missionTypeName, id: missionTypeName, data: response.data};
				drilldownMission.push(serie);			
				collectCardAll(missionTypeName, missionTypeCode);
				collectCardCommon(missionTypeName);
				collectCardUncommon(missionTypeName);
				collectCardEpic(missionTypeName);			
			}, function myError(response) {
				alert("Error on the query: getAllCollectCardMissionsCollectedRarities SELECT");
			});
		}
		
		function collectCardAll(missionTypeName, missionTypeCode){
			$http({
				method : "GET",
				url : "/getAllCollectCardMissionsCollectedAll/"+missionTypeName+"/"+missionTypeCode
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - All", id: missionTypeName+" - All", data: response.data};
				drilldownMission.push(serie);
			}, function myError(response) {
				alert("Error on the query: getAllCollectCardMissionsCollectedAll SELECT");
			});
		}
		
		function collectCardCommon(missionTypeName){
			$http({
				method : "GET",
				url : "/getAllCollectCardMissionsCollectedCommon/"+missionTypeName
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Common", id: missionTypeName+" - Common", data: response.data};
				drilldownMission.push(serie);
			}, function myError(response) {
				alert("Error on the query: getAllCollectCardMissionsCollectedCommon SELECT");
			});
		}
		
		function collectCardUncommon(missionTypeName){
			$http({
				method : "GET",
				url : "/getAllCollectCardMissionsCollectedUncommon/"+missionTypeName
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Uncommon", id: missionTypeName+" - Uncommon", data: response.data};
				drilldownMission.push(serie);
			}, function myError(response) {
				alert("Error on the query: getAllCollectCardMissionsCollectedUncommon SELECT");
			});
		}
		
		function collectCardEpic(missionTypeName){
			$http({
				method : "GET",
				url : "/getAllCollectCardMissionsCollectedEpic/"+missionTypeName
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Epic", id: missionTypeName+" - Epic", data: response.data};
				drilldownMission.push(serie);
			}, function myError(response) {
				alert("Error on the query: getAllCollectCardMissionsCollectedEpic SELECT");
			});
		}
		
		function collectMedal(missionTypeName, missionTypeCode){
			$http({
				method : "GET",
				url : "/getAllCollectMedalMissionsCollectedCategories/"+missionTypeName+"/"+missionTypeCode
			}).then(function mySucces(response) {
				serie = {name: missionTypeName, id: missionTypeName, data: response.data};
				drilldownMission.push(serie);			
				collectMedalAll(missionTypeName, missionTypeCode);
				collectMedalCategory(missionTypeName);	
				collectMedalSpecificMedal(missionTypeName);	
			}, function myError(response) {
				alert("Error on the query: getAllCollectMedalMissionsCollectedCategories SELECT");
			});
		}
		
		function collectMedalAll(missionTypeName, missionTypeCode){
			$http({
				method : "GET",
				url : "/getAllCollectMedalMissionsCollectedAll/"+missionTypeName+"/"+missionTypeCode
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - All", id: missionTypeName+" - All", data: response.data};
				drilldownMission.push(serie);
			}, function myError(response) {
				alert("Error on the query: getAllCollectMedalMissionsCollectedAll SELECT");
			});
		}
		
		function collectMedalCategory(missionTypeName){
			$http({
				method : "GET",
				url : "/getAllCollectMedalMissionsCollectedCategory/"+missionTypeName
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Category", id: missionTypeName+" - Category", data: response.data};
				drilldownMission.push(serie);			
				collectMedalSpecificCategory(missionTypeName, 1, " - Category Region");	
				collectMedalSpecificCategory(missionTypeName, 2, " - Category Historical Period");	
				collectMedalSpecificCategory(missionTypeName, 3, " - Category Type of Structure");				
			}, function myError(response) {
				alert("Error on the query: getAllCollectMedalMissionsCollectedCategory SELECT");
			});
		}
		
		function collectMedalSpecificCategory(missionTypeName, categoryCode, categoryName){
			$http({
				method : "GET",
				url : "/getAllCollectMedalMissionsCollectedSpecificCategory/"+missionTypeName+'/'+categoryCode
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+categoryName, id: missionTypeName+categoryName, data: response.data};
				drilldownMission.push(serie);
			}, function myError(response) {
				alert("Error on the query: getAllCollectMedalMissionsCollectedSpecificCategory SELECT");
			});
		}
		
		function collectMedalSpecificMedal(missionTypeName){
			$http({
				method : "GET",
				url : "/getAllCollectMedalMissionsCollectedSpecificMedal/"+missionTypeName
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Specific Medal", id: missionTypeName+" - Specific Medal", data: response.data};
				drilldownMission.push(serie);	
				collectMedalSpecificMedalRegion(missionTypeName);	
				collectMedalSpecificMedalHP(missionTypeName);	
				collectMedalSpecificMedalToS(missionTypeName);	
			}, function myError(response) {
				alert("Error on the query: getAllCollectMedalMissionsCollectedSpecificMedal SELECT");
			});
		}

		function collectMedalSpecificMedalRegion(missionTypeName){
			$http({
				method : "GET",
				url : "/getAllCollectMedalMissionsCollectedSpecificMedalRegion/"+missionTypeName
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Specific Medal Region", id: missionTypeName+" - Specific Medal Region", data: response.data};
				drilldownMission.push(serie);		
			}, function myError(response) {
				alert("Error on the query: getAllCollectMedalMissionsCollectedSpecificMedalRegion SELECT");
			});
		}
		
		
		function collectMedalSpecificMedalHP(missionTypeName){
			$http({
				method : "GET",
				url : "/getAllCollectMedalMissionsCollectedSpecificMedalHP/"+missionTypeName
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Specific Medal HP", id: missionTypeName+" - Specific Medal HP", data: response.data};
				drilldownMission.push(serie);		
			}, function myError(response) {
				alert("Error on the query: getAllCollectMedalMissionsCollectedSpecificMedalHP SELECT");
			});
		}
		
		function collectMedalSpecificMedalToS(missionTypeName){
			$http({
				method : "GET",
				url : "/getAllCollectMedalMissionsCollectedSpecificMedalToS/"+missionTypeName
			}).then(function mySucces(response) {
				serie = {name: missionTypeName+" - Specific Medal ToS", id: missionTypeName+" - Specific Medal ToS", data: response.data};
				drilldownMission.push(serie);		
			}, function myError(response) {
				alert("Error on the query: getAllCollectMedalMissionsCollectedSpecificMedalToS SELECT");
			});
		}
		
		function localizedChart (regions, provinces, chs, asseY){
			$http({
				method : "GET",
				url : "/"+regions
			}).then(function mySucces(response) {
				var regionsData = response.data;
				$http({
					method : "GET",
					url : "/"+provinces
				}).then(function mySucces(response) {
					var provincesData = response.data;
					$http({
						method : "GET",
						url : "/"+chs
					}).then(function mySucces(response) {
						var chsData = response.data;
						var title = $scope.selectGame;
						var subtitle = "Click on the histogram for a more detailed view, if available.";
						var yAxis = asseY;			
						var series = [{
						     name: 'Regions',
						     colorByPoint: false,
						     data: regionsData
						 }];
						var drilldown=[];
						var serie = {};
				
						if(provincesData.length > 0){
							var actualRegion = provincesData[0].drilldown;
							var data = [];
							var provinceData = {};
				
							for(var i=0; i < provincesData.length; i++){	
								if(actualRegion == provincesData[i].drilldown){
									provinceData = {name:provincesData[i].name, y:provincesData[i].y, drilldown:provincesData[i].name};
									data.push(provinceData);
								}
								else{
									serie = {name: "Provinces", id: actualRegion, data: data};
									drilldown.push(serie);
									actualRegion = provincesData[i].drilldown;
									data = [];
									provinceData = {};
									i--;
								}
							}
							var serie = {name: actualRegion, id: actualRegion, data: data};
							drilldown.push(serie);	
		
							if(chsData.length > 0){
								var actualProvince = chsData[0].drilldown;
								var data = [];
								var chData = {};
								
								for(var j=0; j < chsData.length; j++){	
									if(actualProvince == chsData[j].drilldown){								
										chData = {name:chsData[j].name, y:chsData[j].y};
										data.push(chData);										
									}
									else{
										serie = {name: actualProvince, id: actualProvince, data: data};
										drilldown.push(serie);
										actualProvince = chsData[j].drilldown;
										data = [];
										chData = {};
										j--;
									}
								}
								serie = {name: actualProvince, id: actualProvince, data: data};
								drilldown.push(serie);
							}
							else{
								alert("No Cultural Heritages data available!");
							}
						}
						else{
							alert("No Provinces data available!");
						}					
						createChart(title, subtitle, yAxis, series, drilldown);
					}, function myError(response) {
						alert("Error on the query: "+chs+" SELECT");
					});
				}, function myError(response) {
					alert("Error on the query: "+provinces+" SELECT");
				});
			}, function myError(response) {
				alert("Error on the query: "+regions+" SELECT");
			});
		}
	}
	
	function createChart(title, subtitle, yAxis, series, drilldown){
		//Create the chart
		var chart =	Highcharts.chart('container', {
			 chart: {
			     type: 'column'
			 },
			 title: {
			     text:  title
			 },
			 subtitle: {
			     text: subtitle
			 },
			 xAxis: {
			     type: 'category'
			 },
			 yAxis: {
			     title: {
			         text: yAxis
			     }
			 },
			 legend: {
			     enabled: false
			 },
			 credits: {
			     enabled: false
			 },
			 plotOptions: {
			     series: {
			         borderWidth: 0,
			         dataLabels: {
			             enabled: true,
			             format: '{point.y}'
			         },
			     }
			 },
			
			 tooltip: {
			     headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			     pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y} </b><br/>'
			 },
			
			 series: series,
			 drilldown: {
			     series: drilldown
			 }
		});
	}

});
</script>