<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
</head>
<body ng-app="GoPoleis" >

	<div class="col-sm-12" ng-controller="getUsersStatisticsController">
			
		<h1 style="margin:20px;"><u>Statistics</u></h1>
		
		<form name="form" role="form" enctype="multipart/form-data" method="post"  style="margin-top:50px; margin-left:20px;">															
			<fieldset> 		
 				<label for="game" style="margin-right:100px;">
		     		Select the game for which you want to view its users' statistics:  
				</label>
				<input type="radio" ng-model="selectGame" value="Cultural Heritages" style="margin-right:5px;" ng-change="updateGameStatistics()"><b>Cultural Heritages</b>
				<input type="radio" ng-model="selectGame" value="Cards' Packets" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Cards' Packets</b>
				<input type="radio" ng-model="selectGame" value="Paths" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Paths</b>			
 				<input type="radio" ng-model="selectGame" value="Reviews" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Reviews</b>
				<input type="radio" ng-model="selectGame" value="Medals" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Medals</b>
				<input type="radio" ng-model="selectGame" value="Missions" style="margin-right:5px; margin-left:30px;" ng-change="updateGameStatistics()"><b>Missions</b>			
			</fieldset>
		</form>

		<div id="container" style="min-width: 310px; height: 650px; margin-left:20px; margin-top:50px; margin-right:70px;"></div>

	</div>

</body>
</html>

<script>
var app = angular.module("GoPoleis", []);
app.controller('getUsersStatisticsController', function($scope, $http, $window, $timeout) {
	
	$scope.selectGame = null;
	
	$scope.updateGameStatistics = function(){
		
		if($scope.selectGame == 'Cultural Heritages'){										//Cultural Heritages--------------------------------------------
			alert("Cultural Heritages non ancora implementato!!");
		}
		
		if($scope.selectGame == 'Cards\' Packets'){											//Cards' Packets--------------------------------------------
			alert("Cards\' Packets non ancora implementato!!");
		}
		
		if($scope.selectGame == 'Paths'){													//Paths------------------------------------------------------
			alert("Paths non ancora implementato!!");
		}
		
		if($scope.selectGame == 'Reviews'){			
			alert("Reviews non ancora implementato!!");
		}
		
		if($scope.selectGame == 'Medals'){			
			alert("Medals non ancora implementato!!");
		}

		if($scope.selectGame == 'Missions'){			
			alert("Missions non ancora implementato!!");
		}

	}
	
	function createChart(title, subtitle, yAxis, series, drilldown){
		//Create the chart
		var chart =	Highcharts.chart('container', {
			 chart: {
			     type: 'column'
			 },
			 title: {
			     text:  title
			 },
			 subtitle: {
			     text: subtitle
			 },
			 xAxis: {
			     type: 'category'
			 },
			 yAxis: {
			     title: {
			         text: yAxis
			     }
			 },
			 legend: {
			     enabled: false
			 },
			 credits: {
			     enabled: false
			 },
			 plotOptions: {
			     series: {
			         borderWidth: 0,
			         dataLabels: {
			             enabled: true,
			             format: '{point.y}'
			         },
			     }
			 },
			
			 tooltip: {
			     headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			     pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y} </b><br/>'
			 },
			
			 series: series,
			 drilldown: {
			     series: drilldown
			 }
		});
	}
	
	/*series: [{
	     name: 'Regions',
	     colorByPoint: true,
	     data: [{
	         name: 'Chiara',
	         y: 56.33,
	         drilldown: 'Chiara'
	     }]
	 }],
	 drilldown: {
	     series: [{
	         name: 'Chiara',
	         id: 'Chiara',
	         data: [{name:'v11.0',y:24.13},{name:'v8.0',y:17.2, drilldown:'Seri'}],
	     },{
	         name: 'Seri',
	         id: 'Seri',
	         data: [{name:'chiara',y:21},{name:'seri',y:1}],
	     }]
	 }*/

});
</script>