<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-app="GoPoleis" >

	 <div class="col-sm-9" ng-controller="delCHController">
		<div>
			<h1 style="margin:20px;"><u>Cultural Heritages</u></h1>
			<fieldset style="margin-top:50px; margin-left:20px;""> 	
	           	<label for="search" style="display: inline-block; vertical-align: bottom;" >
		        	<span class="glyphicon glyphicon-search"></span>
		        	Search: 
		        </label>
	      		<input type="text" ng-model="searchBoxCHs.name" class="form-control" style="width:250px; display: inline-block; vertical-align: bottom;"/>
	        </fieldset>
	        <ul style="list-item-style:none; margin-left:0px; padding-left:0px; width: 1500px;">
	       		<li ng-repeat="ch in results | filter:searchBoxCHs" class="thumbnail col-sm-3" style=" margin:20px; padding: 20px; width:450px; text-align:left;" 
	       			ng-model="getOperatorCHs.selection" ng-value="ch.name" id="{{ch.name}}">	
	       			<span class="glyphicon glyphicon-trash" ng-click="delCH(ch.code)"></span>        	
	        		<h4 ch.name="selection">
	        			<img ng-src="{{ch.path}}" style="height: 80px; width: 80px;"/>
	        			{{ ch.name }}
	        		</h4>	
	       		</li>
	        </ul>
        </div>

	</div> 

</body>
</html>
<script>
	var app = angular.module("GoPoleis", []);
	app.controller('delCHController', function($scope, $http, $window) {

		$http({
			method : "GET",
			url : "/getOperatorCHs/statoitaliano@gmail.com"
		}).then(function mySucces(response) {
			$scope.results  = response.data;
		}, function myError(response) {
			$scope.results  = response.statusText;
		});
			
		$scope.delCH = function (chCode) {
        	if ($window.confirm("Are you sure you want to delete this Cultural Heritage?")) {
            	//$scope.delCH={};
 				$http({
 					method : "GET",
 					url : "/delCH/"+chCode
				}).then(function mySucces(response) {
 					results  = response.data;	 
 					alert("Successful delete");
 					window.open("CulturalHeritages_Template.html", "_self"); 
 				}, function myError(response) {
 					$scope.results  = response.statusText;
 				});
			} 
		}	
			
	});
</script>