<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-app="GoPoleis" >

	<div class="col-sm-9" ng-controller="InfopointsController">
		<p id="chCode" ng-show="false" ng-module="chCode"></p>
		<p id="chName" ng-show="false" ng-module="chName"></p>
		
		<h1 style="margin:20px;"><u>Infopoints for</u>: [ {{chName}} ]</h1>
		<fieldset style="margin-top:50px; margin-left:20px;""> 	
           	<label for="search" style="display: inline-block; vertical-align: bottom;" >
	        	<span class="glyphicon glyphicon-search"></span>
	        	Search: 
	        </label>
      		<input type="text" ng-model="searchBoxInfopoints.name" class="form-control" style="width:250px; display: inline-block; vertical-align: bottom;"/>
        </fieldset>
  	        <ul style="list-item-style:none; margin-left:0px; padding-left:0px; width: 1500px;">
       		<li ng-repeat="infopoint in results | filter:searchBoxInfopoints" class="thumbnail col-sm-3" style=" margin:20px; padding: 20px; width:450px; text-align:left;" 
       			ng-model="getCHInfopoints.selection" ng-value="infopoint.name" id="{{infopoint.name}}" ng-click="getCHInfopoints(infopoint.code)">	        	
        		<h4 ch.name="selection">
        			<img ng-src="{{infopoint.path}}" style="height: 80px; width: 80px;"/>
        			{{ infopoint.name }}
        		</h4>	
       		</li>
        </ul>


</body>
</html>
<script>
	var app = angular.module("GoPoleis", []);
	app.controller('InfopointsController', function($scope, $http, $window) {
	
		$http({
			method : "GET",
			url : "/getGame4CHs/statoitaliano@gmail.com"
		}).then(function mySucces(response) {
			$scope.results  = response.data;
		}, function myError(response) {
			$scope.results  = response.statusText;
		});
			
		
		/*$scope.getGame4CH = function(chCode){ 
			$scope.getCH={};

			
			$http({
				method : "GET",
				url : "/getCH/"+chCode
			}).then(function mySucces(response) {
				results  = response.data;	
				if (results.length > 0){
					$scope.getCH.name = results[0].name;
					$scope.getCH.description = results[0].description;
					$scope.getCH.path = results[0].path;
					$scope.getCH.g1 = results[0].g1;
					$scope.getCH.g2 = results[0].g2;
					$scope.getCH.g3 = results[0].g3;
					$scope.getCH.g4 = results[0].g4;
					$scope.getCH.latitude = results[0].latitude;
					$scope.getCH.longitude = results[0].longitude;				
					$scope.getCH.region = results[0].region;
					$scope.getCH.province = results[0].province;
					$scope.getCH.historicalPeriod = results[0].historicalperiod;
					$scope.getCH.typeOfStructure = results[0].structuretype;
				}
			}, function myError(response) {
				$scope.results  = response.statusText;
			});
			
			parent.window.enableGame4SubButtons(true, chCode);
		}*/
		
		/*$scope.cancel = function(){ 
			window.location.reload();
			parent.window.enableGame4SubButtons(false, null);
		}*/	
			
	});
</script>