<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-app="GoPoleis" >

	 <div class="col-sm-9" ng-controller="SiteInformationController">
		<div>
			<p id="chCode" ng-show="false" ng-module="chCode"></p>
			<p id="chName" ng-show="false" ng-module="chName"></p>
			<h1 style="margin:20px;"><u>Site Information for</u>: [ {{chName}} ]</h1>
			
			<fieldset style="margin-top:50px; margin-left:20px;"> 	
		     	<label for="title" style="display: inline-block; vertical-align: bottom;">
		     		Title: 
				</label>
				<input type="text" class="form-control" ng-model="si.title" style="width:450px; display: inline-block;">
			</fieldset>
			
			<fieldset style="margin-top:30px; margin-left:20px;"> 	
		     	<label for="description" style="display: inline-block; vertical-align: top;">
		     		Description: 
				</label>
				<textarea class="form-control" ng-model="si.description" style="resize:none; display:inline-block; width:650px;">test</textarea>
			</fieldset>
			
			<fieldset style="margin-top:30px; margin-left:20px;"> 	
		     	<label for="image" style="display: inline-block;">
		     		Image:  
				</label>
				<img ng-src="{{si.path}}" ng-model="si.path" style="width: 200px; heigth:200px; border: 1px solid black; "/>
			</fieldset>
			
			<fieldset style="margin-top:60px; margin-left:200px; margin-bottom:50px;"> 			
				<input type="submit" name="btnAddSI" class="btn btn-info" ng-click="executeAddSI()" value="Publish" ng-show="publish"/>  
				<input type="submit" name="btnUpdSI" class="btn btn-info" ng-click="executeUpdSI()" value="Update" ng-show="update"/>  
				<a href="Game1_Template.html"ng-click="cancel()">Cancel</a>
			</fieldset>

        </div>

	</div> 

</body>
</html>
<script>
	var app = angular.module("GoPoleis", []);
	app.controller('SiteInformationController', function($scope, $http, $window) {
		
		var chsi_code = null;
		$scope.chCode = parent.window.getCode();
		$scope.si = {};
		$scope.publish = false;
		$scope.update = false;
		
		$http({
			method : "GET",
			url : "/getCH/"+$scope.chCode
		}).then(function mySucces(response) {
			results  = response.data;	
			if (results.length > 0){
				$scope.chName = results[0].name;
				
				$http({
					method : "GET",
					url : "/getCHSiteInformation/"+$scope.chCode
				}).then(function mySucces(response) {
					results  = response.data;	
					if (results.length > 0){
						chsi_code = results[0].code;
						$scope.si.title = results[0].title;
						$scope.si.description = results[0].description;
						$scope.si.path = results[0].path;
						$scope.publish = false;
						$scope.update = true;
					}
					else{
						$scope.publish = true;
						$scope.update = false;
					}
				}, function myError(response) {
					$scope.results  = response.statusText;
				});
				
			}
		}, function myError(response) {
			$scope.results  = response.statusText;
		});

		$scope.executeAddSI = function(){	
			$http({
				method: 'GET',
				url: '/addCHSiteInformation/0/'+$scope.si.title+'/'+$scope.si.description+'/..%2F..%2Fimages%2Fgame1%2FsiteInformation%2F'+$scope.chCode+'%2Fnoimage.png/'+$scope.chCode	//SISTEMARE!!
			}).then(function successCallback(response) {	
				window.open("Game1_Template.html", "_self");   
			}, function errorCallback(response) {
				// called asynchronously if an error occurs
				// or server returns response with an error status.
			});
			
		}
		
		$scope.executeUpdSI = function(){	
			$http({
				method: 'GET',
				url: '/updCHSiteInformation/'+$scope.si.title+'/'+$scope.si.description+'/..%2F..%2Fimages%2Fgame1%2FsiteInformation%2F'+$scope.chCode+'%2Fnoimage.png/'+$scope.chCode+'/'+chsi_code	//SISTEMARE!!
			}).then(function successCallback(response) {	
				window.open("Game1_Template.html", "_self");   
			}, function errorCallback(response) {
				// called asynchronously if an error occurs
				// or server returns response with an error status.
			});
		}
		
		
		$scope.cancel = function(){ 
			window.location.reload();
			parent.window.enableGame1SubButtons(false, null);
		}	
			
	});
</script>